section .jumbotron{

		background:#2ecc71;
		color:#fff;
		border-radius:0px;
		height:90px;
		padding-top: 10px;
		padding-bottom: 10px;
  		margin-bottom: 10px;
		}
section {
		margin-top: 10px;
		padding-top: 0px;}

header .navbar {
  margin-bottom: 0px;
}
footer {
background:#2ecc71;
padding-top: 10px;
padding-bottom: 10px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 12em
}

.blocktext2 {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

#top {
    height: 50px;
}

/* ua/user/home/animals */
#animals-admin-main {
    padding-left: 0px;
    padding-right: 0px;
}

#animals-admin-left {
    padding-left: 0px;
}

#animals-admin-drop-filters {
    margin-bottom: 30px;
}

.paginator > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.rows-count {
    margin-top: 20px;
    padding-right: 0px;
    text-align: right;
}

.rows-count > .btn-group > .btn-group:last-child > .btn:first-child {
    border-radius: 4px;
}

/* ua/user/home/animals/detailed */
.detailed-left {
    padding-left: 0px;
}

.detailed-right {
    padding-top: 20px;
}

.detailed-bottom {
    padding-bottom: 20px;
}

.detailed-buttons {
    padding-right: 0px;
    padding-left: 0px;
}

.detailed-buttons > div {
    padding-right: 0px;
}

/* ua/user/home/animals/detailed/editor */
.image-sample {
    max-width: 400px;
    max-height: 400px;
}

.nya-bs-select-mod {
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
}

.nya-bs-select-mod > button {
    width: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nya-bs-select-mod > button > .filter-option {
    width: 97%;
    text-align: left;
}

.nya-bs-select-mod > .open {
    width: 100%;
    min-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.nya-bs-select-mod > .open > .inner {
    width: 100%;
}

.border-right-radius {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.progress-striped {
    height: 34px;
}

.simple-border{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.blocktext-h4{
    text-align: center;
}

.sprite-image{
    border:none;
    border-radius: 0;
    background: url('../img/animalColors/animal-color-sprite.png') no-repeat;
}

.onhover:hover{
    border:1px solid black;
    border-radius: 3px;
}

#color-sprites-0{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: 0 0; /* Icon background position in sprite */
}
#color-sprites-1{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -120px -390px; /* Icon background position in sprite */
}
#color-sprites-2{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -5px -295px; /* Icon background position in sprite */
}
#color-sprites-3{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -120px 0; /* Icon background position in sprite */
}
#color-sprites-4{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -120px -290px; /* Icon background position in sprite */
}
#color-sprites-5{
     width: 113px; /* Icon width */
     height: 90px; /* Icon height */
     display: inline-block; /* Display icon as inline block */
     background-position: -4px -95px; /* Icon background position in sprite */
}
#color-sprites-6{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */ /* Icon background position in sprite */
    background-position: -122px -492px;
}
#color-sprites-7{
     width: 113px; /* Icon width */
     height: 90px; /* Icon height */
     display: inline-block; /* Display icon as inline block */
     background-position: -5px -495px; /* Icon background position in sprite */
}
#color-sprites-8{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -5px -390px; /* Icon background position in sprite */
}
#color-sprites-9{
     width: 113px; /* Icon width */
     height: 90px; /* Icon height */
     display: inline-block; /* Display icon as inline block */
     background-position: -3px -200px; /* Icon background position in sprite */
}
#color-sprites-10{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -119px -200px; /* Icon background position in sprite */
}
#color-sprites-11{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -124px -95px; /* Icon background position in sprite */
}
#color-sprites-12{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -130px -600px; /* Icon background position in sprite */
}
#color-sprites-13{
    width: 113px; /* Icon width */
    height: 90px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: -12px -600px; /* Icon background position in sprite */
}

#animal-image-id{
    display: block;
    text-align: center;
    vertical-align: middle;
}

.required:after{
    content:"*";
    color:red;
}
.thumbnail-special {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}