html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-top: 40px;
}

body:after {
    content: '';
    display: block;
    height: 100px;
}
h3 {
	text-align: center;
}

p {
	display: inline-block;
}


.buttonSing {
	padding: 0px;
	margin: 0px;
}

.socials-group{
    color: #333;
    text-decoration: none;
    float: right;
}
.fa.black-color{
    font-size: 140% !important;
    margin-right: 10px;
    margin-top: 3px;
    color: #333;
}
.fa:hover{
    text-decoration: none;
    cursor: pointer;
}
.socialButtons {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;	
	padding: 15px;
}
#loginblock {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
}


#passwordUpdateBlock {
	border: 1px solid #eaeaea;
	border-radius: 5px;	
	padding: 10px;
}

#profileblock {
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-radius: 0px;
	margin-top: -11px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
	padding-bottom:80px;
	
}

#regblock {
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	margin-top:-10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -60px;
	padding: 20px;
}

#quote {
	color:white;
	position: absolute;
    left: 80px;
    top: 100px;
    z-index: 2;
}

#languageButon {	
	margin-top:10px;
	margin-left:15px;		
}





.usualReg {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
}

.socialButtons {
	text-align: center;	
	margin-top: 10px;	
	padding: 10px;
}
#resGoogleTA{
	padding-bottom: 0px;
}

/*carousel*/
#slides_control img{
    max-width: 100%;
    height: auto;
}
#slides_control {
    position:relative;
    padding:0;
}
#goals-panel{
    margin-top: 3%;
}
.list-align-justify{
    text-align: justify;
}
#partners-panel{
    margin-top: 3%;
}
.carousel-control.left{
    display: none;
}
.carousel-control.right{
    display: none;
}
.carousel-caption {
    bottom: 12%;
}
.carousel-indicators {
    bottom:10%;
}
#carousel-container{
    margin: 0;
    padding: 0;
    width:100%;
}
.carousel-indicators li{
    width: 50px;
    height: 1px;
    display: inline-block;
    opacity: 0.3;
    cursor: pointer;
    text-indent: -9999em;
    border: 3px solid #fff;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    vertical-align: middle;
}
.carousel-indicators .active{
    width: 50px;
    height: 1px;
    opacity: 0.8;
    cursor: default;
}
#main_view{
    margin-top: -40px;
}
.center-link{
    text-align: center;
}
#lang-button{
    margin-left: 10px;
    margin-top: 3px;
}
.log-btn{
    margin-left: 50px;
    padding: 10px 15px;
    color:#000;
}
.log-btn:hover{
    cursor: pointer;
    text-decoration: none;
    color:#3498db;
}
.nav-form{
    padding-top: 6px;
}
.black-color{
    color: #333;
}
.btn-lg-log{
    background-color: #333;
    border-color: #eaeaea;
}
.btn-lg-log:hover{
    background-color: #333;
    border-color: #333;
}
.btn-md-log{
    background-color: #333;
    border-color: #eaeaea;
}
.btn-md-log:hover{
    background-color: #333;
    border-color: #333;
}
a:hover, a:focus{
    text-decoration: none;
}
.btn-success[disabled]{
    background-color: #333;
    border-color: #eaeaea;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #333;
    border-color: #eaeaea;
}
#feedbackSubmit1{
    display: block;
    margin-top: 10px;
}
.rgh{
    float: right;
}
.align-bottom{
    position: absolute;
    bottom: 7px;
}
.cur-poi{
    cursor: pointer;
}
.press-bottom{
    float:none;
    margin-bottom: 7px;
}
.fl-n{
    float: none;
}
.marg-spin-100{
    margin-top:100px;
}
.marg-spin-250{
    top:250px;
}
.marg-spin-200{
    height: 200px;
}
.marg-spin-400{
    height:400px;
}
.marg-spin-15{
    top: 15px;
}
.height-up{
    height: 50px;
}
.marg-spin-320{
    top: 320px;
}
.image-wrapper{
    position: relative;
    width: auto;
    text-align: center;
}
.img-inner-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}
.txar{
    overflow: overlay;
    resize:none;
}
.m-w-100{
    max-width: 100%;
}
.va-init{
    vertical-align: initial;
}
.in-bl{
    display: inline-block;
}
.admin-anim-spin{
    position: absolute;
    z-index: 999;
    top: 50%;
}
.er-color{
    color: #a94442;
}
.align-lang{
    top: -5px;
    margin-bottom: -10px;
    position: inherit;
    margin-top: -10px;
}
.white-em{
    color: #fff;
}
.titlewrap{
    display: block;
    height: 11px;
    margin-top: 45px;
    margin-bottom: 90px;
    padding-top: 5px;
    max-height: 16px;
    border-bottom: 1px solid #cacaca;
    text-align: center;
}
.titlewrap h2.title {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    cursor:pointer;
}
.an-allow{}
.spin{
    position: relative;
    top:100px;
    display: block;
    left:0;
    right:0;
}