section .jumbotron{

		background:#2ecc71;
		color:#fff;
		border-radius:0px;
		height:90px;
		padding-top: 10px;
		padding-bottom: 10px;
  		margin-bottom: 10px;
  		margin-top: 60px;
		}
section {
		margin-top: 20px;
		padding-top: 0px;}

header .navbar {
  margin-bottom: 0px;
}
footer {
background:#2ecc71;
padding-top: 10px;
padding-bottom: 10px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 12em
}

.blocktext2 {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.bootstrap-select>.btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}