html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-top: 40px;
}

body:after {
    content: '';
    display: block;
    height: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

h3 {
	text-align: center;
}

p {
	display: inline-block;
}


.buttonSing {
	padding: 0px;
	margin: 0 px;
	
}

.socialButtons {
	border: 1px solid green;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;	
	padding: 15px;
}


#loginblock {
	border: 1px solid green;
	border-radius: 5px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
}

#passwordUpdateBlock {
	border: 1px solid green;
	border-radius: 5px;	
	padding: 10px;
}

#profileblock {
	border-right: 1px solid green;
	border-left: 1px solid green;
	border-bottom: 1px solid green;
	border-radius: 0px;
	margin-top: -11px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
	padding-bottom:80px;
	
}

#editUser{
	/*display:none;*/
}

#regblock {
	border-right: 1px solid green;
	border-left: 1px solid green;
	/*border-radius: 5px;	*/
	margin-top:-10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -60px;
	padding: 20 px;

}

.usualReg {
	border: 1px solid green;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	padding: 15px;
}

.socialButtons {

	text-align: center;	
	margin-top: 10px;	
	padding: 10px;

}

#GResult {
	/*display:none;*/
}

#FBResult {
	/*display:none;*/
}

#resGoogleTA{
	padding-bottom: 0px;
}

/* .dropdown-menu {
    background-color:#2ecc71;   
}*/

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#2ecc71;
}
