section .jumbotron{

		background:#2ecc71;
		color:#fff;
		border-radius:0px;
		height:90px;
		padding-top: 10px;
		padding-bottom: 10px;
  		margin-bottom: 10px;
		}
section {
		margin-top: 20px;
		padding-top: 0px;}

header .navbar {
  margin-bottom: 0px;
}
footer {
background:#2ecc71;
padding-top: 10px;
padding-bottom: 10px;
}