<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Connect properties file-->
    <properties resource="database.properties"/>

    <!-- Configure MyBatis-specific settings -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="100"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- Use type aliases to avoid typing the full classname every time -->
    <typeAliases>
        <typeAlias alias="Animal" type="com.animals.app.domain.Animal"/>
        <typeAlias alias="AnimalService" type="com.animals.app.domain.AnimalService"/>
        <typeAlias alias="AnimalSexType" type="com.animals.app.domain.AnimalSexType"/>
        <typeAlias alias="AnimalSize" type="com.animals.app.domain.AnimalSize"/>
        <typeAlias alias="AnimalType" type="com.animals.app.domain.AnimalType"/>
        <typeAlias alias="AnimalCitesType" type="com.animals.app.domain.AnimalCitesType"/>

        <typeAlias alias="User" type="com.animals.app.domain.User"/>
        <typeAlias alias="UserType" type="com.animals.app.domain.UserType"/>
        <typeAlias alias="UserRole" type="com.animals.app.domain.UserRole"/>
        <typeAlias alias="UserOperationLogger" type="com.animals.app.domain.UserOperationLogger"/>
        <typeAlias alias="UserOperationType" type="com.animals.app.domain.UserOperationType"/>

        <typeAlias alias="Address" type="com.animals.app.domain.Address"/>
    </typeAliases>

    <!-- Define type handelrs -->
    <typeHandlers>
        <typeHandler javaType="java.util.List" handler="com.animals.app.domain.UserRole"/>
    </typeHandlers>

    <!-- Configure the data source -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- Mapping files or classes -->
    <mappers>
        <mapper class="com.animals.app.repository.AnimalRepository" />
        <mapper class="com.animals.app.repository.AnimalServiceRepository" />
        <mapper class="com.animals.app.repository.AnimalSexTypeRepository" />
        <mapper class="com.animals.app.repository.AnimalSizeRepository" />
        <mapper class="com.animals.app.repository.AnimalTypeRepository" />
        <mapper class="com.animals.app.repository.AnimalCitesTypeRepository" />

        <mapper class="com.animals.app.repository.UserRepository" />
        <mapper class="com.animals.app.repository.UserTypeRepository" />
        <mapper class="com.animals.app.repository.UserRoleRepository" />
        <mapper class="com.animals.app.repository.UserOperationLoggerRepository" />
        <mapper class="com.animals.app.repository.UserOperationTypeRepository" />

        <mapper class="com.animals.app.repository.AddressRepository" />
    </mappers>

</configuration>