<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AngTest</title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope) {
            //This will hide the DIV by default.
            $scope.IsHidden = true;
            $scope.ShowHide = function () {
                //If DIV is hidden it will be visible and vice versa.
                $scope.IsHidden = $scope.IsHidden ? false : true;
            }
        });
    </script>

<div ng-app="MyApp" ng-controller="MyController" class="container">
    <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8" id="profileblock">


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="userPhoto">
            <div class="col-xs-10 col-lg-10 text-center" style="height:400px;">
                    <h4 class="blocktext">Photo from social net</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="resources/img/no-image.jpg" height="200"></p>
                    </div>

                    <p class="blocktext2">Join account with social net</p>
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-facebook btn-md"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-google btn-md"><i class="fa fa-google"></i></a>
                        <a class="btn btn-social-icon btn-twitter btn-md"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-github btn-md"><i class="fa fa-github"></i></a>
                    </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="userData">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <label >Ім'я користувача:</label>
                </div>
                <div class="col-lg-6">
                    <label >UserName</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Фамілія користувача:</label>
                </div>
                <div class="col-lg-6">
                    <label >UserSurame</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Email користувача:</label>
                </div>
                <div class="col-lg-6">
                    <label >Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Телефон користувача:</label>
                </div>
                <div class="col-lg-6">
                    <label >userPhone</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Адреса користувача:</label>
                </div>
                <div class="col-lg-6">
                    <label >userAdress</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Назва організації:</label>
                </div>
                <div class="col-lg-6">
                    <label >userCompany</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label >Додаткова інформація:</label>
                </div>
                <div class="col-lg-6">
                    <label >userCompanyInfo</label>
                </div>
            </div>
            <div class="form-group">                
                <button ng-click="ShowHide()" class="btn btn-default btn-md col-xs-12 col-sm-12 col-md-4 col-lg-4" id = "editProfile">Edit Profile</button>             
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Для можливості додавання власної тварини слід вказати повну контактну інформацію користувача</p>
            </div>
        </div>

        <!--  <div ng-app="MyApp" ng-controller="MyController">
        <input type="button" value="Show Hide DIV" ng-click="ShowHide()" />
        <br />
        <br />
        <div ng-hide = "IsHidden">My DIV</div>
    </div> -->


        <hr>
        
        <div ng-hide = "IsHidden" id="editUser">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 usualReg">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">




            <h2>Редагування даних користувача</h2>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <br>                
                <div class="form-group">
                    <label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Логін:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" id="userLogin">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Ім'я:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" id="userName">
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >Прізвище:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" id="userSurname">
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >Email:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" id="userEmail" type="email">
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Пароль:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" required="required" type="password" id="password">
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-10 col-sm-5 col-md-3 col-lg-3 control-label" >Повторіть пароль:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" required="required" type="password" id="password_confirm" oninput="check(this)">
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label"  >Телефон:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input class="form-control" id="userPhone" type="text" pattern="^[0-9]{3}-[0-9]{7}$">&nbsp; &nbsp;<label>Phone patern: '000-0000000'</label>
                    </div>
                </div>
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label">Адреса:</label>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <textarea class="form-control" id="userAdress" rows="2">
                        </textarea>
                    </div>
                </div>
                <hr>                
                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >Назва організації:</label>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <input class="form-control" id="userCompany">
                    </div>
                </div>

                <div class="form-group">                                
                    <label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >Додаткова інформація про організацію:</label>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <textarea class="form-control" name="comments" id="userCompanyInfo" rows="2">
                        </textarea>
                    </div>
                </div>

                <div class="form-group">                
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">               
                    <button class="btn btn-danger btn-md col-xs-12 col-sm-12 col-md-6 col-lg-6" id = "usualReg">Edit Profile</button>
                    <button class="btn btn-default btn-sm col-xs-12 col-sm-12 col-md-6 col-lg-6" >Hide Profile</button>

                    </div>                          
                </div>

        </div>  
        </form>             
        </div>



        </div>
        <hr>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="listUserAnimals">
            <div class = "text-center">
                <h4> Список власних тварин</h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Тип</strong> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Всі</a></li>
                                    <li><a href="#">Собаки</a></li>
                                    <li><a href="#">Коти</a></li>
                                </ul>
                        </td>
                        <td class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Порода</strong> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Всі</a></li>
                                </ul>
                        </td>
                        <td class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Стать</strong> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Всі</a></li>
                                    <li><a href="#">Чоловіча</a></li>
                                    <li><a href="#">Жіноча</a></li>
                                </ul>
                        </td>
                        <td><strong>Окрас</strong></td>
                        <td><strong>Номер мікрочіпу</strong></td>
                        <td><strong>Дата народження</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <td>Собака</td>
                        <td>Німецька вівчарка</td>
                        <td>чол</td>
                        <td>Стандарт</td>
                        <td>451251231</td>
                        <td>1998.05.16</td>
                        <td><a href="#"><img src="resources/img/view_fullscreen.png"></a></td>
                        <td><a href="#"><img src="resources/img/deletered.png"></a></td>
                    </tr>
                    <tr>
                        <td>Собака</td>
                        <td>Німецька вівчарка</td>
                        <td>чол</td>
                        <td>Стандарт</td>
                        <td>451251231</td>
                        <td>1998.05.16</td>
                        <td><a href="#"><img src="resources/img/view_fullscreen.png"></a></td>
                        <td><a href="#"><img src="resources/img/deletered.png"></a></td>
                    </tr>                                       
                </tbody>
                </table>

        </div>
        

    </div>
    </div>
</div>
   
</body>
</html>
