<div class="adoption">

<section id="adoption">
<div class="jumbotron">     
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-1 col-lg-1">
                        <p><image src="img/main_dog.jpg" width="70"></p>
                    </div>
                    <div class="col-sm-11 col-lg-11">   
                        <h2>Тварини на адопцію</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="container">   
    <div class="row">
        <br>
        <div class="col-xs-5 col-sm-3 col-lg-3">
            
            <div>
                <h4>Фільтр пошуку</h4>                
            </div>             
            <label >Виберіть тип тварини:</label>            
                <div>              
                    <select class="form-control col-sm-12" name="animals">
                        <option  value="dog">Собака</option>
                        <option  value="cat">Кіт</option>
                        <option  value="horse">Кінь</option>
                        <option  value="bear">Ведмідь</option>
                        <option  value="bird">Птах</option>
                        <option  value="rodent">Гризун</option>
                    </select>
                </div> 
            <br> 

            <hr>           
            <label>Розмір тварини:</label>
            <div >
            <select class="form-control col-sm-12" name="size">
                <option  value="small">Малий (до 45 см)</option>
                <option  value="normal">Середній (45-65 см)</option>
                <option  value="big">Великий (від 65 см)</option>                       
            </select>
            </div>
            <br> 
            <hr>            
            <label>Стать:</label>
            <div class="checkbox">                          
                <label><input type="checkbox" value="">Самець</label><br> 
                <label><input type="checkbox" value="">Самка</label>       
            </div>             
              
            <hr> 
            

            <div class="row">
                <p><a class="btn btn-default" role="button" href="#">Фільтрувати</a></p>                
            </div>            
        </div>



        <div class="col-xs-7 col-sm-9 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/1.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната. Кусається Багато їсть. Відгукується на кличку Дозор</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#ua/animal/detail" >Дізнатися більше »</a>
                    </p>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/no-image.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/main_dog.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
            
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/no-image.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/no-image.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/no-image.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
            
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px;">
                    <h4 class="blocktext">ID код оголошення:5678</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="img/main_dog.jpg" height="200"></p>
                    </div>
                    <p class="blocktext2">Файна німецька вівчарка. Мохната</p>
                    <p class="blocktext2">
                        <a class="btn btn-default" role="button" href="#">Дізнатися більше »</a>
                    </p>
                </div>
            </div> 



        </div>
    </div>
</div>
</div>
   