<section id="detail">
<div class="container">  
    <div class="row" style="height: 50px"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-success">
            <div class="row">
                <div class="panel-body">
                    <div class="col-md-6" style="padding-left: 0px;">
                        <img src="noimg.png" style="max-width: 250px; max-height: 250px;">
                    </div>
                    <div class="col-md-6" style="padding-top: 20px">
                        <div class="row">
                            <div class="col-md-4">Тип:</div>
                            <div class="col-md-8">Собака</div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Порода:</div>
                            <div class="col-md-8"> - </div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Номер мікрочіпу:</div>
                            <div class="col-md-8">105223035</div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">CITE:</div>
                            <div class="col-md-8">ні</div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Номер жетону:</div>
                            <div class="col-md-8">51651321</div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Стать:</div>
                            <div class="col-md-8">чол</div>                       
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">Окрас:</div>
                            <div class="col-md-8">сірий</div>                       
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">Дата стерелізації:</div>
                        <div class="col-md-8">2000.02.12</div>                       
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Дата народження:</div>
                        <div class="col-md-8">2000.02.12</div>                       
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Поштовий індекс:</div>
                        <div class="col-md-8">76000</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">Дата реєстрації:</div>
                        <div class="col-md-8">2000.02.12</div>                       
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Власник:</div>
                        <div class="col-md-8">Вася Пупкін</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Адреса:</div>
                        <div class="col-md-8">м. Львів, Чорновола 20/5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-8" style="padding-right: 0px; padding-left: 0px;">
            <button type="button" class="btn btn-success col-md-12">Редагувати</button>
        </div>
    </div>
</div>
</section>