<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../CSS/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/navbar-fixed-top.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/navbar_green.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/datepicker.css"/>

    <script type="text/javascript" src="WEB-INF/JS/bootstrap-datepicker.js"></script>

<!--
    <script src="../JS/jquery.min.js" />
    <script src="../JS/bootstrap.min.js" /> &lt;!&ndash; replace mb &ndash;&gt;
-->

    <!-- JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
        .left-margin{
            margin-left: 7px;
            margin-right: 7px;
        }
        .footer-push {
            min-height: 100%;
            margin-bottom: 34px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">

            <!-- Бренд і переключення згруповано для покращення показу на мобільних екранах -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ЛКП "Лев"</a>
            </div>

            <!-- Колекція навігаційних меню та форма для переключення -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пропонуємо <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Адопція</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Знайдено</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Реєстрація <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Безпритульних тварин</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Власних тварин</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Опікунських тварин</a></li>
                        </ul>
                    </li>
                    <li><a href="#contacts">Контакти</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Модерація <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Реєстр</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Оплати</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#">Імпорт/Експорт</a></li>
                        </ul>

                </ul>
                <!-- Форма входу -->
                <form class="navbar-form navbar-right" role="form">
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#enterModal">Вхід <span class="glyphicon glyphicon-door"></span></button>
                </form>
            </div><!-- /.nav-collapse -->
        </div>
    </nav>
</header>

<!-- Секція "Контакт" -->

<section id="contacts">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-1 col-lg-1">
                        <p><img src="../../CSS/Images/main_dog.jpg" width="70"></p>
                    </div>
                    <div class="col-sm-11 col-lg-11">
                        <h2>Реєстрація власницької тварини</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="container">
<!--
    <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-3">
        <h1>Реєстрація власницької тварини<hr></h1>
    </div>
    </div>
-->
<form>

    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">

    <label for="transponder-yes" class="control-label input-group">Номер транспондера(мікрочіпа):</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" id="transponder-yes" value="1">Є
        </label>
        <label class="btn btn-default">
            <input type="radio" id="transponder-no" value="0">Немає
        </label>
    </div>

    <div class="form-group"><br>
        <input type="text" class="form-control"
               id="transponder-id" placeholder="Номер транспондера"/>
    </div>

    <div class="form-group">
        <label for="token-number">Номер жетону:</label>
        <input type="text" class="form-control"
               id="token-number" placeholder="Номер жетону"/>
    </div>

    <div class="dropdown"><hr>
        <label for="animal-kind">Тип(вид) тварини:</label><br>
        <button class="btn btn-default dropdown-toggle"
                type="button" id="animal-kind"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
            Тип(вид) тварини:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="animal-kind">
            <li><a href="#">Собака</a></li>
            <li><a href="#">Кішка</a></li>
            <li><a href="#">Папуга</a></li>
            <li><a href="#">Кінь</a></li>
            <li><a href="#">Крокодил</a></li>
        </ul>
    </div>

    <div class="dropdown"><br>
        <label for="cites">Приналежність до CITES:</label><br>
        <button class="btn btn-default dropdown-toggle"
                type="button" id="cites"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
            CITES:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cites">
            <li><a href="#">CITES I</a></li>
            <li><a href="#">CITES II</a></li>
            <li><a href="#">CITES III</a></li>
        </ul>
    </div>

    <div class="form-group"><hr>
        <label for="breed">Порода:</label>
        <input type="text" class="form-control"
               id="breed" placeholder="Порода"/>
    </div>

    <label for="sex-m" class="control-label input-group">Стать:</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" id="sex-m" value="M">Ч
        </label>
        <label class="btn btn-default">
            <input type="radio" id="sex-w" value="W">Ж
        </label>
    </div>

    <div class="form-group"><br>
        <label for="birth-date">Дата народження:</label>
        <input type="text" class="form-control"
               id="birth-date" placeholder="Дата народження"/>
    </div>

    <div class="dropdown">
        <label for="animal-size">Розмір тварини:</label><br>
        <button class="btn btn-default dropdown-toggle"
                type="button" id="animal-size"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
            Розмір тварини:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="cites">
            <li><a href="#">Маленька(до 45см.)</a></li>
            <li><a href="#">Середня(45-85см.)</a></li>
            <li><a href="#">Велика(від 85см.)</a></li>
        </ul>
    </div>

    <br>
    <label for="sterilization-yes" class="control-label input-group">Стерилізація:</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" id="sterilization-yes" value="1">Так
        </label>
        <label class="btn btn-default">
            <input type="radio" id="sterilization-no" value="0">Ні
        </label>
    </div>

    <div class="form-group"><br>
        <input type="text" class="form-control"
               id="sterilization-date" placeholder="Дата стерилізації"/>
        <hr>
    </div>

    </div>
    </div>

    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4">
    <!-- Окрас -->
    <!-- ----------------------- -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Окрас</h3>
        </div>
        <div class="panel-body">
            <label>Виберіть основні кольори в окрасі:</label><br>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-white"> Білий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-black"> Чорний
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-gray"> Сірий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-rudi"> Рудий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-brown"> Коричневий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-pail"> Палевий
            </label>`
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-yellow"> Жовтий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6"
                   style="margin-top: -20px;">
                <input type="checkbox" id="color-red"> Червоний
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-blue"> Синій
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-green"> Зелений
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-orange"> Оранжевий
            </label>
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <input type="checkbox" id="color-light-green"> Салатовий
            </label>


            <label>Виберіть окрас(не обов'язково):</label><br>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/_white.png" alt="Білий">
                <div class="caption">
                    <p>Білий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/black.png" alt="Чорний">
                <div class="caption">
                    <p>Чорний</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/red.png" alt="Рудий">
                <div class="caption">
                    <p>Рудий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/_brown.png" alt="Коричневий">
                <div class="caption">
                    <p>Коричневий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/tiger.png" alt="Тигровий">
                <div class="caption">
                    <p>Тигровий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/podpaliy.png" alt="Підпалий">
                <div class="caption">
                    <p>Підпалий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/paleviy.png" alt="Палевий">
                <div class="caption">
                    <p>Палевий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/pyatnistiy.png" alt="Плямистий">
                <div class="caption">
                    <p>Плямистий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/tricolor.png" alt="Триколірний">
                <div class="caption">
                    <p>Триколірний</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/grey.png" alt="Сірий">
                <div class="caption">
                    <p>Сірий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/pegiy2.png" alt="Рябий">
                <div class="caption">
                    <p>Рябий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/cherpak.png" alt="Черпачний">
                <div class="caption">
                    <p>Черпачний</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/_mramor.png" alt="Мармуровий">
                <div class="caption">
                    <p>Мармуровий</p>
                </div>
            </div>

            <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin">
                <img src="../../CSS/Images/dogs_registration/_wolf.png" alt="Вовчий">
                <div class="caption">
                    <p>Вовчий</p>
                </div>
            </div>

            <input type="text" class="form-control"
                   id="animal-color" placeholder="Або введіть вручну"/>

        </div>
    </div>

    </div>
    </div>
    <!-- ----------------------- -->
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Інформація про власника</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label for="owner-country">Країна:</label>
                <input type="text" class="form-control"
                       id="owner-country" placeholder="Країна"/>
            </div>

            <div class="form-group">
                <label for="owner-town">Місто:</label>
                <input type="text" class="form-control"
                       id="owner-town" placeholder="Місто"/>
            </div>

            <div class="form-group">
                <label for="owner-name">Прізвище та ім'я:</label>
                <input type="text" class="form-control"
                       id="owner-name" placeholder="Прізвище та ім'я власника"/>
            </div>

            <div class="form-group">
                <label for="phone">Номер телефону:</label>
                <input type="text" class="form-control"
                       id="phone" placeholder="Номер телефону"/>
            </div>

            <div class="form-group">
                <label for="email">Електронна пошта:</label>
                <input type="email" class="form-control"
                       id="email" placeholder="Електронна пошта"/>
            </div>

            <div class="form-group">
                <label for="animal-address">Адреса місця перебування тварини:</label>
                <input type="text" class="form-control"
                       id="animal-address" placeholder="Поштова адреса"/>
            </div>

            <div class="form-group">
                <label for="animal-post-index">Поштовий індекс місця перебування тварини:</label>
                <input type="text" class="form-control"
                       id="animal-post-index" placeholder="Поштовий індекс"/>
            </div>

        </div>
    </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">

        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Фотографія тварини</h3>
        </div>
        <div class="panel-body">
            <label for="animal-photo">Виберіть фотографію тварини:</label><br>
            <span class="btn btn-default btn-file">
                Завантажити <input type="file" id="animal-photo">
            </span>
        </div>
    </div>

    </div>
    </div>

    <button type="submit" class="btn btn-primary">Зареєструвати</button>

</form>
    <div class="footer-push"></div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-lg-2" >
                <span class="copyright">&copy; ЛКП "Лев" 2015</span>
            </div>
            <div class="col-sm-10 col-lg-10">
                <form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/pay" class="custom">
                    <input type="hidden" name="public_key" value="i0199959990" />
                    <div class="row">
                        <div class="col-sm-1 col-lg-1">
                            <input type="text" name="amount" value="50" size="2"/>
                        </div>
                        <div class="col-sm-1 col-lg-1">
                            <select name="currency">
                                <option value="UAH" selected="selected">UAH</option>
                                <option value="USD" >USD</option>
                                <option value="EUR">EUR</option>
                            </select>

                        </div>
                        <div class="col-sm-10 col-lg-10">
                            <button type="submit" id="feedbackSubmit" class="btn btn-success" style="display: block; margin-top: 10px;">Оплатити
                                <span class="help-block" style="display: none;">Будь-ласка, введіть код, зображений на картинці.</span> </button>
                        </div>
                        <!--   <input type="hidden" name="currency" value="UAH" /> -->
                        <input type="hidden" name="description" value="Безвозвратная финансовая помощь на осуществление уставной деятельности" />
                        <input type="hidden" name="type" value="donate" />
                        <input type="hidden" name="pay_way" value="card,delayed" />
                        <input type="hidden" name="language" value="ua" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

<!--
    <div class="container"><br>
        <label for="birth-date">Дата народження:</label>
        <div class="col-sm-6" style="height:130px;">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker10'>
                    <input type='text' class="form-control"
                            id="birth-date"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker10').datetimepicker({
                    viewMode: 'years',
                    format: 'MM-YYYY'
                });
            });
        </script>
    </div>
-->
