<section id="adoption">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                        <p>
                            <image src="../resources/img/main_dog.jpg"/>
                        </p>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 col-lg-">
                        <h2>{{ 'USER_PROFILE' | translate }} ID = {{ user.id }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position: absolute; z-index: 999; top: 50%;" id="loading-block" ng-show="contentLoading" />

    <div class="container" ng-hide="contentLoading">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-success">
                <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">

                     <!-- User photo -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-body">
                    	<h3 class="blocktext">{{ 'USER_IMAGE_FROM_SOCIALS' | translate }}</h3>
                    	<div class="smallIMG">
                        <p><image ng-hide="user.socialPhoto" class="displayed center-block" src="resources/img/no-image.jpg" height="280" /></p>
                        <p><image ng-show="user.socialPhoto" class="displayed center-block" src="{{user.socialPhoto}}" height="280" /></p>
                    	</div>
                    </div> 
                    <br>
                    
                        <!-- User Role -->
                        <div class="row">
                        	<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-4">{{ 'USER_ROLE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4">{{ user.userRole[0].role }}</div> 
                        </div>
                        <hr>
                        
                        <!-- User Type -->
                        <div class="row">
                        	<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_TYPE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4">{{ user.userType.type }}</div> 
                        </div>
                        <hr>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                    	<br>

                        <!-- User login -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'LOGIN' | translate }}:</div>                            
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >{{ user.socialLogin }}</div>
                        </div>
                        <hr>
                        
                        <!-- User Name -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_NAME' | translate }}:</div>                            
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >{{ user.name }}</div>
                        </div>
                        <hr>
                        
                        <!-- User Surname -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_SURNAME' | translate }}:</div>                            
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >{{ user.surname }}</div>
                        </div>
                        <hr>
                        
                        <!-- User Registration Date -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'REGISTRATION_DATE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.registrationDate }}</div> 
                        </div>
                        <hr>
                        
                        <!-- User Email -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_EMAIL' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.email }}</div> 
                        </div>
                        <hr>
                        
                        <!-- User Phone -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_PHONE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.phone }}</div> 
                        </div>
                        <hr>
                        
                        <!-- User Active -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_ACTIVE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.active }}</div> 
                        </div>
                        <hr>
                       
                    </div>
                </div>
                
                <!-- Social integration -->                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-body">
                    	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">{{ 'SOCIAL_INTEGRATION' | translate }}:</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        	<div class="text-center">
		                    	<a ng-disabled="user.id" ng-show="user.googleId" class="btn btn-social-icon btn-facebook btn-lg"><i class="fa fa-facebook"></i></a>
		                    	<a ng-disabled="user.id" ng-show="user.facebookId"  class="btn btn-social-icon btn-google btn-lg"><i class="fa fa-google"></i></a>
		                    	<a ng-disabled="user.id" ng-show="user.twitterId" class="btn btn-social-icon btn-twitter btn-lg"><i class="fa fa-twitter"></i></a>
		                    	<p ng-show="!user.googleId && !user.facebookId && !user.twitterId">{{ 'NO_INTEGRATION' | translate }} </p>        	                	                   	
							</div>
                        </div>
                    </div>
                </div>
                        <hr> 
                    
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                        <!-- User Address -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'USER_ADDRESS' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.address }}</div> 
                        </div>
                        <hr>

                        <!-- User Company Name -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'REG_ORGANIZATION_NAME' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.organizationName }}</div> 
                        </div>
                        <br>
                       
                     </div>  
                        

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                        <!-- User Company Info -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'REG_ORGANIZATION_INFO' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ user.organizationInfo }}</div> 
                        </div>
                                        
                                                
                    </div>
                </div>            
        </div>      

      
            
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 detailed-buttons">
                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" href
                        ng-click="deleteUser()" role="button">{{ 'DELETE' | translate }}</a></div>
                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-warning col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/admin/users/editor/{{ user.id }}"
                        role="button">{{ 'UPDATE' | translate}}</a></div>

                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-success col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/admin/users" role="button">{{ 'BACK' | translate }}</a></div>
            </div>
        </div>
    </div>
</section>