<section id="adoption">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlewrap">
                        <h2 class="title center">
                            {{ 'ANIMAL_DETAILED_INFO' | translate }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner -->
    <div class="spin" us-spinner="{radius:20, width:10, length: 15}"></div>

    <!-- Error message -->
    <h3 class="alert alert-danger col-xs-12 col-sm-12 col-md-12 col-lg-12 repeat-animation hide-fade"
        ng-repeat="alert in errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{alert.msg}}
    </h3>


    <div class="container" ng-hide="contentLoading || (errors.length > 0)">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default">
                <div class="row">

                    <!-- Animal photo -->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                        <img class="img-responsive img-thumbnail center-block" id="animalImg" src="{{ animalImage }}">
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                        <!-- Animal type -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'TYPE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage === 'uk'">{{
                                animal.type.type }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage !== 'uk'">{{
                                animal.type.typeEn }}
                            </div>
                        </div>
                        <hr>

                        <!-- Animal breed -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'BREED' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage === 'uk'">{{
                                animal.breed.breedUa }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage !== 'uk'">{{
                                animal.breed.breedEn }}
                            </div>
                        </div>
                        <hr>

                        <!-- Animal size -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'SIZE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.size === 'NONE'">{{
                                'NOT_IDENTIFIED' | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.size === 'SMALL'">{{
                                'SIZE_SMALL' | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.size === 'MIDDLE'">{{
                                'SIZE_NORMAL' | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.size === 'LARGE'">{{
                                'SIZE_LARGE' | translate }}
                            </div>
                        </div>
                        <hr>

                        <!-- Animal sex -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'SEX' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.sex === 'NONE'">{{
                                'NOT_IDENTIFIED' | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.sex === 'MALE'">{{ 'SEX_MALE'
                                | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.sex === 'FEMALE'">{{
                                'SEX_FEMALE' | translate }}
                            </div>
                        </div>
                        <hr>

                        <!-- Animal color -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'COLOR' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.color }}</div>
                        </div>
                        <hr>

                        <!-- Animal cites -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">CITE:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.cites === 'NONE'">{{
                                'NOT_IDENTIFIED' | translate }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.cites === 'CITES1'">CITES I
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.cites === 'CITES2'">CITES
                                II
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.cites === 'CITES3'">CITES
                                III
                            </div>
                        </div>
                        <hr>

                        <!-- Animal service -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'SERVICE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage === 'uk'">{{
                                animal.service.service }}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="currentLanguage !== 'uk'">{{
                                animal.service.serviceEn }}
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                        <!-- Animal transponder number -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'TRANSPONDER' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.transpNumber }}</div>
                        </div>
                        <hr>

                        <!-- Animal date of birth -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'BIRTH_DATE' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.dateOfBirth }}</div>
                        </div>
                        <hr>

                        <!-- Animal status -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-44">{{ 'ANIMAL_ACTIVE' |
                                translate}}:
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.active=='true'">
                                {{ 'YES' | translate}}
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ng-if="animal.active=='false'">
                                {{ 'NO' | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                        <!-- Animal token number -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'TOKEN_NUMBER' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.tokenNumber }}</div>
                        </div>
                        <hr>

                        <!-- Animal date of registration -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'REGISTRATION_DATE' | translate}}:
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.dateOfRegister }}</div>
                        </div>
                        <hr>

                        <!-- Animal address -->
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'ADDRESS' | translate }}:</div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{ animal.address }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default panel-body">
                <div class="form-group">
                    <label for="comment">{{ 'DESCRIPTION' | translate }}:</label>
                    <textarea class="form-control" rows="3" id="comment" ng-model="animal.description"
                              name="description" readonly></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Error message -->
            <h3 class="alert alert-danger col-xs-12 col-sm-12 col-md-12 col-lg-12 repeat-animation hide-fade"
                ng-if="error" ng-bind="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            </h3>

            <!-- Animal owner -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default table-responsive repeat-animation hide-fade" ng-if="!error">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td><strong>{{ 'NAME' | translate }}</strong></td>
                        <td><strong>{{ 'SURNAME' | translate }}</strong></td>
                        <td><strong>{{ 'TYPE' | translate }}</strong></td>
                        <td><strong>{{ 'PHONE' | translate }}</strong></td>
                        <td><strong>{{ 'EMAIL' | translate }}</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ animal.user.name }}</td>
                        <td>{{ animal.user.surname }}</td>
                        <td ng-if="currentLanguage === 'uk'">{{ animal.user.userType.typeUa }}</td>
                        <td ng-if="currentLanguage !== 'uk'">{{ animal.user.userType.type }}</td>
                        <td>{{ animal.user.phone }}</td>
                        <td>{{ animal.user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-if="animal.service.id == 3">
            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7 detailed-buttons">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href ng-click="toPdf()" role="button">{{ 'POSTER' | translate }}</a></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><a
                        class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" href
                        ng-click="deleteAnimal()" role="button">{{ 'DELETE' | translate }}</a></div>
                <div class="col-sm-3 col-md-3 col-lg-3"><a
                        class="btn btn-warning col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/home/animals/editor/{{ animal.id }}"
                        role="button">{{ 'UPDATE' | translate}}</a></div>

                <div class="col-sm-3 col-md-3 col-lg-3"><a
                        class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/home/animals" role="button">{{ 'BACK' | translate }}</a></div>
            </div>
        </div>

        <div class="row" ng-if="animal.service.id != 3">
            <div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 detailed-buttons">
                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" href
                        ng-click="deleteAnimal()" role="button">{{ 'DELETE' | translate }}</a></div>
                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-warning col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/home/animals/editor/{{ animal.id }}"
                        role="button">{{ 'UPDATE' | translate}}</a></div>

                <div class="col-sm-4 col-md-4 col-lg-4"><a
                        class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12"
                        href="#/ua/user/home/animals" role="button">{{ 'BACK' | translate }}</a></div>
            </div>
        </div>
    </div>
</section>
