<div class="row" id="top"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success">
        <div class="panel-body">
            <div class="row">

                <!-- Animal photo -->
                <div class="col-md-6">
                    <img class="img-responsive img-thumbnail center-block" ng-hide="animalImage" src="resources/img/noimg.png">
                    <img class="img-responsive img-thumbnail center-block" ng-show="animalImage" src="{{ animalImage }}">
                </div>

                <div class="col-md-6">

                    <!-- Animal type -->
                    <div class="input-group">
                        <span class="input-group-addon">Тип</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.type" ng-change="getAnimalBreeds()">
                            <li nya-bs-option="animalType in animalTypes">
                                <a>{{ animalType.type }}</a>
                            </li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Animal breed -->
                    <div class="input-group">
                        <span class="input-group-addon">Порода</span>
                        <input type="text" ng-model="animal.breed" typeahead="breed as breed.breedUa for breed in animalBreeds | filter:{breedUa:$viewValue} | limitTo:8"
                               class="form-control border-right-radius" ng-disabled="filterAnimalBreedFlag">
                    </div>

                    <hr>

                    <!-- Animal size -->
                    <div class="input-group">
                        <span class="input-group-addon">Розмір</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.size">
                            <li class="nya-bs-option" value="не визначено"><a>не визначено</a></li>
                            <li class="nya-bs-option" value="малий"><a>малий</a></li>
                            <li class="nya-bs-option" value="середній"><a>середній</a></li>
                            <li class="nya-bs-option" value="великий"><a>великий</a></li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Animal sex -->
                    <div class="input-group">
                        <span class="input-group-addon">Стать</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.sex">
                            <li class="nya-bs-option" value="не визначено"><a>не визначено</a></li>
                            <li class="nya-bs-option" value="самець"><a>самець</a></li>
                            <li class="nya-bs-option" value="самка"><a>самка</a></li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Animal color -->
                    <div class="input-group">
                        <span class="input-group-addon">Окрас</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="animal.color">
                    </div>

                    <hr>

                    <!-- Animal cites -->
                    <div class="input-group">
                        <span class="input-group-addon">CITES</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.cites">
                            <li class="nya-bs-option" value="не визначено"><a>не визначено</a></li>
                            <li class="nya-bs-option" value="CITES I"><a>CITES I</a></li>
                            <li class="nya-bs-option" value="CITES II"><a>CITES II</a></li>
                            <li class="nya-bs-option" value="CITES III"><a>CITES III</a></li>
                        </ol>
                    </div>

                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <!-- Animal transpounder number -->
                    <div class="input-group">
                        <span class="input-group-addon">Номер мікрочіпу</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="animal.transpNumber">
                    </div>

                    <hr>

                    <!-- Animal date of birth -->
                    <p class="input-group" ng-controller="DPController">
                        <span class="input-group-addon">Дата народження</span>
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="animal.dateOfBirth" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>

                    <hr>

                    <!-- Animal date of sterilization -->
                    <p class="input-group" ng-controller="DPController">
                        <span class="input-group-addon">Дата стерелізації</span>
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="animal.dateOfSterilization" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>

                </div>
                <div class="col-md-6">

                    <!-- Animal token number -->
                    <div class="input-group">
                        <span class="input-group-addon">Номер жетону</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="animal.tokenNumber">
                    </div>

                    <hr>

                    <!-- Animal date of registration -->
                    <p class="input-group" ng-controller="DPController">
                        <span class="input-group-addon">Дата реєстрації</span>
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="animal.dateOfRegister" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>

                    <hr>

                    <!-- Animal address -->
                    <div class="input-group">
                        <span class="input-group-addon">Адреса</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="animal.address">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-5 detailed-buttons">
        <div class="col-md-3"><a class="btn btn-info col-md-12" href ng-click="setImage()" role="button">Modal</a></div>
        <div class="col-md-3"><a class="btn btn-warning col-md-12" href ng-click="setAnimal()" role="button">Зберегти</a></div>
        <div class="col-md-3" ng-controller="AdminAnimalsEditorSetImageController">
            <a class="btn btn-info col-md-12" href role="button" ng-hide="uploader.isUploading" onclick="document.getElementById('upload').click();">Змінити фото</a>
            <progressbar class="progress-striped active " value="uploader.queue[0].progress" ng-show="uploader.isUploading"></progressbar>
            <input type="file" id="upload" nv-file-select uploader="uploader" style="visibility: hidden;" />
        </div>
        <div class="col-md-3"><a class="btn btn-success col-md-12" href ng-click="goBack()" role="button">Повернутись</a></div>
    </div>
</div>


<script type="text/ng-template" id="setImage.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>