<section id="adoption">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                        <p>
                            <image src="../resources/img/main_dog.jpg"/>
                        </p>
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
                        <h2>{{ 'ANIMAL_DETAILED_EDIT' | translate }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position: absolute; z-index: 999; top: 50%;" id="loading-block" ng-show="contentLoading" />

    <div class="container" ng-show="!contentLoading">
        <form name="animalEditor" ng-submit="submit(animalEditor.$valid)" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-success">
                    <div class="row">

                        <!-- Animal photo -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                            <img class="img-responsive img-thumbnail center-block" ng-hide="imageFile"
                                 ng-src="{{ animalImage }}">
                            <img class="img-responsive img-thumbnail center-block" ng-show="imageFile"
                                 ng-src="data:{{imageFile.filetype}};base64,{{imageFile.base64}}">
                            <p ng-show="animalEditor.photo.$invalid"
                               class="help-block error" style="color: #a94442;">{{ 'ERROR_FILE_SIZE_TO_LARGE' | translate }}</p>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                            <!-- Animal type -->
                            <div class="input-group">
                                <span class="input-group-addon">{{ 'TYPE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.type"
                                    ng-change="getAnimalBreeds()" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li nya-bs-option="animalType in animalTypes.values">
                                        <a ng-if="currentLanguage === 'uk'">{{ animalType.type }}</a>
                                        <a ng-if="currentLanguage !== 'uk'">{{ animalType.typeEn }}</a>
                                    </li>
                                </ol>
                            </div>

                            <hr>

                            <!-- Animal breed -->
                            <div class="input-group" ng-class="{ 'has-error' : animalEditor.breed.$invalid && !animalForm.breed.$pristine }">
                                <span class="input-group-addon">{{ 'BREED' | translate }}</span>
                                <input ng-if="currentLanguage === 'uk'"
                                       type="text" ng-model="animal.breed"
                                       typeahead="breed as breed.breedUa for breed in animalBreeds | filter:{breedUa:$viewValue} | limitTo:8"
                                       class="form-control border-right-radius" ng-disabled="filterAnimalBreedFlag"
                                       ng-maxlength="45">
                                <input ng-if="currentLanguage !== 'uk'"
                                       type="text" ng-model="animal.breed"
                                       typeahead="breed as breed.breedEn for breed in animalBreeds | filter:{breedEn:$viewValue} | limitTo:8"
                                       class="form-control border-right-radius" ng-disabled="filterAnimalBreedFlag"
                                       ng-maxlength="45">
                            </div>

                            <hr>

                            <!-- Animal size -->
                            <div class="input-group">
                                <span class="input-group-addon">{{ 'SIZE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.size" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="NONE"><a>{{ 'NOT_IDENTIFIED' |
                                        translate }}</a></li>
                                    <li class="nya-bs-option" value="SMALL"><a>{{ 'SIZE_SMALL' | translate }}</a>
                                    </li>
                                    <li class="nya-bs-option" value="MIDDLE"><a>{{ 'SIZE_NORMAL' | translate }}</a></li>
                                    <li class="nya-bs-option" value="LARGE"><a>{{ 'SIZE_LARGE' | translate }}</a>
                                    </li>
                                </ol>
                            </div>

                            <hr>

                            <!-- Animal sex -->
                            <div class="input-group">
                                <span class="input-group-addon">{{ 'SEX' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.sex" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="NONE"><a>{{ 'NOT_IDENTIFIED' |
                                        translate }}</a></li>
                                    <li class="nya-bs-option" value="MALE"><a>{{ 'SEX_MALE' | translate }}</a>
                                    </li>
                                    <li class="nya-bs-option" value="FEMALE"><a>{{ 'SEX_FEMALE' | translate }}</a>
                                    </li>
                                </ol>
                            </div>

                            <hr>

                            <!-- Animal color -->
                            <div class="input-group" ng-class="{ 'has-error' : animalEditor.color.$invalid }">
                                <span class="input-group-addon">{{ 'COLOR' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="color"
                                       ng-model="animal.color" ng-maxlength="20">
                            </div>

                            <hr>

                            <!-- Animal cites -->
                            <div class="input-group">
                                <span class="input-group-addon">CITES</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.cites" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="NONE"><a>{{ 'NOT_IDENTIFIED' |
                                        translate }}</a></li>
                                    <li class="nya-bs-option" value="CITES1"><a>CITES I</a></li>
                                    <li class="nya-bs-option" value="CITES2"><a>CITES II</a></li>
                                    <li class="nya-bs-option" value="CITES3"><a>CITES III</a></li>
                                </ol>
                            </div>

                            <hr>

                            <!-- Animal service -->
                            <div class="input-group">
                                <span class="input-group-addon">{{ 'TYPE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="animal.service" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li nya-bs-option="animalService in animalServices.values">
                                        <a ng-if="currentLanguage === 'uk'">{{ animalService.service }}</a>
                                        <a ng-if="currentLanguage !== 'uk'">{{ animalService.serviceEn }}</a>
                                    </li>
                                </ol>
                            </div>

                            <hr>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                            <!-- Animal transpounder number -->
                            <div class="input-group" ng-class="{ 'has-error' : animalEditor.transpNumber.$invalid && !animalForm.transpNumber.$pristine }">
                                <span class="input-group-addon">{{ 'TRANSPONDER' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1"
                                       name="transpNumber" ng-model="animal.transpNumber"
                                       ng-maxlength="15">
                            </div>

                            <hr>

                            <!-- Animal date of birth -->
                            <p class="input-group" ng-controller="DPController">
                                <span class="input-group-addon">{{ 'BIRTH_DATE' | translate }}</span>
                                <input type="text" class="form-control border-right-radius" datepicker-popup="yyyy-MM-dd"
                                       ng-model="animal.dateOfBirth"
                                       is-open="opened" datepicker-options="dateOptions"
                                       current-text="{{ 'TODAY' | translate }}" clear-text="{{ 'CLEAR' | translate }}"
                                       close-text="{{ 'CLOSE' | translate }}" close-text="Close"
                                       ng-click="open($event)"/>
                            </p>
                            <hr>

                            <!-- Animal date of sterilization -->
                            <p class="input-group" ng-controller="DPController">
                                <span class="input-group-addon">{{ 'STERILIZATION_DATE' | translate }}</span>
                                <input type="text" class="form-control border-right-radius" datepicker-popup="yyyy-MM-dd"
                                       ng-model="animal.dateOfSterilization"
                                       is-open="opened" datepicker-options="dateOptions"
                                       current-text="{{ 'TODAY' | translate }}" clear-text="{{ 'CLEAR' | translate }}"
                                       close-text="{{ 'CLOSE' | translate }}" close-text="Close"
                                       ng-click="open($event)"/>
                            </p>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                            <!-- Animal token number -->
                            <div class="input-group" ng-class="{ 'has-error' : animalEditor.tokenNumber.$invalid && !animalForm.tokenNumber.$pristine }">
                                <span class="input-group-addon">{{ 'TOKEN_NUMBER' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1"
                                       name="tokenNumber" ng-model="animal.tokenNumber"
                                       ng-maxlength="12">
                            </div>

                            <hr>

                            <!-- Animal date of registration -->
                            <p class="input-group" ng-controller="DPController">
                                <span class="input-group-addon">{{ 'REGISTRATION_DATE' | translate }}</span>
                                <input type="text" class="form-control border-right-radius" datepicker-popup="yyyy-MM-dd"
                                       ng-model="animal.dateOfRegister"
                                       is-open="opened" datepicker-options="dateOptions"
                                       current-text="{{ 'TODAY' | translate }}" clear-text="{{ 'CLEAR' | translate }}"
                                       close-text="{{ 'CLOSE' | translate }}" close-text="Close"
                                       ng-click="open($event)"/>
                            </p>

                            <hr>

                            <!-- Animal address -->
                            <div class="input-group" ng-class="{ 'has-error' : animalEditor.address.$invalid && !animalForm.address.$pristine }">
                                <span class="input-group-addon">{{ 'ADDRESS' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1"
                                       name="address" ng-model="animal.address"
                                       ng-maxlength="120">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6 detailed-buttons">
                    <button type="submit" ng-disabled="animalEditor.$invalid" id="submit-form"
                            class="btn btn-success col-sm-3 col-md-3 col-lg-3" >{{ 'SAVE' | translate }}</button>
                    <div class="col-sm-3 col-md-3 col-lg-3"><a
                            class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12"
                            href ng-click="deleteImage()" role="button">{{ 'DELETE_IMAGE' | translate }}</a>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a class="btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-12" href role="button"
                           onclick="document.getElementById('upload').click();">{{ 'CHANGE_PHOTO' | translate }}</a>
                        <input type="file" id="upload" name="photo" ng-model="imageFile" style="visibility: hidden;"
                               maxsize="5000" accept="image/*" base-sixty-four-input />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"><a
                            class="btn btn-warning col-xs-12 col-sm-12 col-md-12 col-lg-12"
                            href="#/ua/user/home/animals/{{ animal.id }}" role="button">{{ 'BACK' | translate }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
