<section id="adoption">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlewrap">
                        <h2 class="title center">
                            {{ 'USER_DETAILED_EDIT' | translate }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 admin-anim-spin" id="loading-block" ng-show="contentLoading" />

    <div class="container" ng-hide="contentLoading">
        <form name="userEditor" ng-submit="updateUser()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default">
                    <div class="row">
                	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">

		                    <!-- User photo -->
		                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-body">
		                    	<h3 class="blocktext">{{ 'USER_IMAGE_FROM_SOCIALS' | translate }}</h3>
		                    	<div class="smallIMG">
		                        <p><image ng-hide="user.socialPhoto" class="displayed center-block" src="resources/img/no-image.jpg" height="280" /></p>
		                        <p><image ng-show="user.socialPhoto" class="displayed center-block" src="{{user.socialPhoto}}" height="280" /></p>
		                    	</div>
		                    </div> 
		                    <br>
                        	
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
					  	<br>

                        <!-- User login -->                        
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ 'LOGIN' | translate }}:</div>                            
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >{{ user.socialLogin }}</div>
                        </div>
                        <hr>                        
                        
                        <!-- User Name -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.userName.$invalid && !userForm.userName.$pristine }">
                            <span class="input-group-addon">{{ 'USER_NAME' | translate }}</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1" name="userName" ng-model="user.name" ng-maxlength="35" ng-minlength="2">
                        </div>                        
                        <hr>                        
                                                
                        <!-- User Surname -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.userSurname.$invalid && !userForm.userSurname.$pristine }">
                                <span class="input-group-addon">{{ 'USER_SURNAME' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="userSurname" ng-model="user.surname" ng-maxlength="45" ng-minlength="2">
                        </div>                         
                        <hr>
                        
                        <!-- User Registration Date -->
                           <p class="input-group" ng-controller="DPController">
                                <span class="input-group-addon">{{ 'REGISTRATION_DATE' | translate }}</span>
                                <input type="text" class="form-control border-right-radius" datepicker-popup="yyyy-MM-dd"
                                       ng-model="user.registrationDate"
                                       is-open="opened" datepicker-options="dateOptions"
                                       current-text="{{ 'TODAY' | translate }}" clear-text="{{ 'CLEAR' | translate }}"
                                       close-text="{{ 'CLOSE' | translate }}" close-text="Close"
                                       ng-click="open($event)"/>
                            </p>
                            <hr>                        
                        
                        <!-- User Email -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.email.$invalid && !userForm.email.$pristine }">
                                <span class="input-group-addon">{{ 'USER_EMAIL' | translate }}</span>
                                <input type="email" class="form-control" aria-describedby="basic-addon1" name="email" ng-model="user.email"  ng-maxlength="30">
                        </div>                         
                        <hr>

                    </div>

                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                    		
                    	<!-- User Role -->                              
                            <div class="input-group">
                                <span class="input-group-addon">{{ 'USER_ROLE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="user.userRole[0].role" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="moderator"><a>{{ 'ROLE_MODERATOR' | translate }}</a></li>
                                    <li class="nya-bs-option" value="doctor"><a>{{ 'ROLE_DOCTOR' | translate }}</a></li>
                                    <li class="nya-bs-option" value="guest"><a>{{ 'ROLE_GUEST' | translate }}</a></li>
                                </ol>
                            </div>
                            <hr>

                        <!-- User Type -->
                        <div class="input-group">
                                <span class="input-group-addon">{{ 'USER_TYPE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="user.userType.type" title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="owner"><a>{{ 'TYPE_OWNER' | translate }}</a></li>
                                    <li class="nya-bs-option" value="vet"><a>{{ 'TYPE_VET' | translate }}</a></li>
                                </ol>
                            </div>
                         <hr>

                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                    		
                    	<!-- User Phone -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.phone.$invalid && !userForm.phone.$pristine }">
                                <span class="input-group-addon">{{ 'USER_PHONE_EDITOR' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="phone" ng-model="user.phone" pattern="^[0-9]{3}-[0-9]{7}$">
                        </div> 
                        <hr>
                        
                        <!-- User Active -->
                        <div class="input-group">
                                <span class="input-group-addon">{{ 'USER_ACTIVE' | translate }}</span>
                                <ol class="nya-bs-select nya-bs-select-mod" ng-model="active" 
                                	title="{{ 'NOT_SELECTED' | translate }}">
                                    <li class="nya-bs-option" value="true"><a>{{ 'YES' | translate}}</a></li>
                                    <li class="nya-bs-option" value="false"><a>{{ 'NO' | translate}}</a></li>                                  
                                </ol>
                            </div>
                        <hr>
                        <br>

                    </div>

                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">

                         <!-- User Address -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.address.$invalid && !userForm.address.$pristine }">
                                <span class="input-group-addon">{{ 'USER_ADDRESS' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="address" ng-model="user.address" ng-maxlength="120">
                        </div>
                        <hr>

                        <!-- User Company Name -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.company.$invalid && !userForm.company.$pristine }">
                                <span class="input-group-addon">{{ 'REG_ORGANIZATION_NAME' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="company" ng-model="user.organizationName" ng-maxlength="70">
                        </div>

                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-body">

                        <!-- User Company Info -->
                        <div class="input-group" ng-class="{ 'has-error' : userEditor.companyInfo.$invalid && !userForm.companyInfo.$pristine }">
                                <span class="input-group-addon">{{ 'REG_ORGANIZATION_INFO' | translate }}</span>
                                <input type="text" class="form-control" aria-describedby="basic-addon1" name="companyInfo" ng-model="user.organizationInfo" ng-maxlength="100">
                        </div>
                                            
                    </div>
                 
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-8 col-lg-6 col-lg-offset-9 detailed-buttons">
                    <button type="submit" id="submit-form" class="btn btn-warning col-sm-3 col-md-3 col-lg-3" ng-disabled="userEditor.$invalid">
                        {{ 'SAVE' | translate }}
                    </button>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#/ua/user/admin/users/{{ user.id }}" role="button">
                            {{ 'BACK' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>