<section id="admin_animals">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlewrap">
                        <h2 class="title center">
                            {{ 'ANIMAL_REGISTER' | translate }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner -->
    <div class="spin" us-spinner="{radius:20, width:10, length: 15}"></div>

    <!-- Error message -->
    <h3 class="alert alert-danger col-xs-12 col-sm-8 col-md-9 col-lg-9 an-allow repeat-animation hide-fade"
        ng-repeat="alert in errors">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{alert.msg}}
    </h3>

    <div class="container" ng-hide="contentLoading || (errors.length > 0)">
        <div class="row">
            <!-- Filters -->
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 detailed-bottom" id="animals-admin-left"
                 ng-controller="AnimalsFilterAdminController">
                <form name="animalFilter" ng-submit="submit(animalFilter.$valid)" novalidate>

                    <!-- Transponder filter -->
                    <div class="input-group"
                         ng-class="{ 'has-error' : animalFilter.transpNumber.$invalid && !animalFilter.transpNumber.$pristine }">
                        <span class="input-group-addon">{{ 'TRANSPONDER' | translate }}</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1"
                               ng-model="filter.animal.transpNumber"
                               name="transpNumber" ng-maxlength="15">
                    </div>

                    <hr>

                    <!-- Service filter -->
                    <div class="input-group">
                        <span class="input-group-addon">{{ 'SERVICE' | translate }}</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="filter.animal.service"
                            title="{{ 'NOT_SELECTED' | translate }}">
                            <li nya-bs-option="animalService in animalServices.values">
                                <a ng-if="currentLanguage === 'uk'">{{ animalService.service }}</a>
                                <a ng-if="currentLanguage !== 'uk'">{{ animalService.serviceEn }}</a>
                            </li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Date of registration filter -->
                    <p class="input-group" ng-controller="DPController">
                        <span class="input-group-addon">{{ 'REGISTRATION_DATE' | translate }}</span>
                        <input type="text" class="form-control border-right-radius" datepicker-popup="yyyy-MM-dd"
                               ng-model="filter.animal.dateOfRegister"
                               is-open="opened" datepicker-options="dateOptions"
                               current-text="{{ 'TODAY' | translate }}" clear-text="{{ 'CLEAR' | translate }}"
                               close-text="{{ 'CLOSE' | translate }}" close-text="Close" ng-click="open($event)"/>
                    </p>

                    <hr>

                    <!-- Type filter -->
                    <div class="input-group">
                        <span class="input-group-addon">{{ 'TYPE' | translate }}</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="filter.animal.type"
                            ng-change="getAnimalBreeds()" title="{{ 'NOT_SELECTED' | translate }}">
                            <li nya-bs-option="animalType in animalTypes.values">
                                <a ng-if="currentLanguage === 'uk'">{{ animalType.type }}</a>
                                <a ng-if="currentLanguage !== 'uk'">{{ animalType.typeEn }}</a>
                            </li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Breed filter -->
                    <div class="input-group"
                         ng-class="{ 'has-error' : animalFilter.breed.$invalid && !animalFilter.breed.$pristine }">
                        <span class="input-group-addon">{{ 'BREED' | translate }}</span>
                        <input ng-if="currentLanguage === 'uk'"
                               type="text" ng-model="filter.animal.breed"
                               typeahead="breed as breed.breedUa for breed in animalBreeds | filter:{breedUa:$viewValue} | limitTo:8"
                               class="form-control border-right-radius">
                        <input ng-if="currentLanguage !== 'uk'"
                               type="text" ng-model="filter.animal.breed"
                               typeahead="breed as breed.breedEn for breed in animalBreeds | filter:{breedEn:$viewValue} | limitTo:8"
                               class="form-control border-right-radius">
                    </div>

                    <hr>

                    <!-- Sex filter -->
                    <div class="input-group">
                        <span class="input-group-addon">{{ 'SEX' | translate }}</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="filter.animal.sex"
                            title="{{ 'NOT_SELECTED' | translate }}">
                            <li class="nya-bs-option" value="NONE"><a>{{ 'NOT_IDENTIFIED' | translate }}</a></li>
                            <li class="nya-bs-option" value="MALE"><a>{{ 'SEX_MALE' | translate }}</a></li>
                            <li class="nya-bs-option" value="FEMALE"><a>{{ 'SEX_FEMALE' | translate }}</a></li>
                        </ol>
                    </div>

                    <hr>

                    <!-- Active filter -->
                    <div class="input-group">
                        <span class="input-group-addon">{{ 'ANIMAL_ACTIVE' | translate }}</span>
                        <ol class="nya-bs-select nya-bs-select-mod" ng-model="filter.animal.active"
                            title="{{ 'NOT_SELECTED' | translate }}">
                            <li class="nya-bs-option" value="true"><a>{{ 'YES' | translate}}</a></li>
                            <li class="nya-bs-option" value="false"><a>{{ 'NO' | translate}}</a></li>
                        </ol>
                    </div>

                    <hr>

                    <button type="submit" ng-disabled="animalFilter.$invalid" id="submit-form"
                            class="btn btn-primary col-xs-5 col-sm-6 col-md-5 col-lg-5">{{ 'FILTER' | translate }}
                    </button>
                    <div class="col-xs-2 col-sm-0 col-md-2 col-lg-2"></div>
                    <a class="btn btn-danger col-xs-5 col-sm-6 col-md-5 col-lg-5" href ng-click="reset()" role="button"
                       id="animals-admin-drop-filters">{{ 'CANCEL' | translate }}</a>

                </form>
            </div>

            <!-- Error message -->
            <h3 class="alert alert-danger col-xs-12 col-sm-9 col-md-9 col-lg-9 repeat-animation hide-fade"
                ng-if="error" ng-bind="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            </h3>

            <!-- Animals list -->
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 panel panel-default table-responsive repeat-animation hide-fade" ng-if="!error">
                <table class="table table-hover table-vcenter">
                    <thead>
                    <tr>
                        <td><strong>{{ 'TYPE' | translate }}</strong></td>
                        <td><strong>{{ 'BREED' | translate }}</strong></td>
                        <td><strong>{{ 'SEX' | translate }}</strong></td>
                        <td><strong>{{ 'COLOR' | translate }}</strong></td>
                        <td><strong>{{ 'TRANSPONDER' | translate }}</strong></td>
                        <td><strong>{{ 'BIRTH_DATE' | translate }}</strong></td>
                        <td><strong>{{ 'DETAILED' | translate }}</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="repeat-animation hide-fade" ng-repeat="animal in animals.values">
                        <td ng-if="currentLanguage === 'uk'">{{ animal.type.type }}</td>
                        <td ng-if="currentLanguage !== 'uk'">{{ animal.type.typeEn }}</td>
                        <td ng-if="currentLanguage === 'uk'">{{ animal.breed.breedUa }}</td>
                        <td ng-if="currentLanguage !== 'uk'">{{ animal.breed.breedEn }}</td>
                        <td ng-if="animal.sex === 'NONE'">{{ 'NOT_IDENTIFIED' | translate }}</td>
                        <td ng-if="animal.sex === 'MALE'">{{ 'SEX_MALE' | translate }}</td>
                        <td ng-if="animal.sex === 'FEMALE'">{{ 'SEX_FEMALE' | translate }}</td>
                        <td>{{ animal.color }}</td>
                        <td>{{ animal.transpNumber }}</td>
                        <td>{{ animal.dateOfBirth }}</td>
                        <td><a class="btn btn-md" href="#/ua/user/home/animals/{{ animal.id }}" role="button">
                            <image src="../resources/img/i_icon.png"></image>
                        </a></td>
                        <td><a class="btn btn-social-icon btn-facebook btn-md" ng-show="!animal.dateOfFacebook" href
                               role="button" ng-click="sendFacebook(animal.id)"><i class="fa fa-facebook"></i></a></td>
                        <td><a class="btn btn-social-icon btn-twitter btn-md" ng-show="!animal.dateOfTwitter" href
                               role="button" ng-click="sendTwitter(animal.id)"><i class="fa fa-twitter"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-default text-center">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

                <!-- Pagination -->
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <pagination boundary-links="true" total-items="totalItems.count" ng-model="filter.page"
                                max-size="10" ng-change="pageChanged()" class="paginator" items-per-page="filter.limit"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>

                <!-- Row count selector -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 rows-count">
                    <div class="btn-group" dropdown keyboard-nav>
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle
                                    ng-disabled="disabled">
                                {{ filter.limit }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href ng-click="countChanged('10')">10</a></li>
                                <li role="menuitem"><a href ng-click="countChanged('20')">20</a></li>
                                <li role="menuitem"><a href ng-click="countChanged('30')">30</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
