<section id="adoption">
<div class="jumbotron">     
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-1 col-lg-1">
                        <p><image src="../resources/img/main_dog.jpg" width="70"/></p>
                    </div>
                    <div class="col-sm-11 col-lg-11">   
                        <h2>Тварини на адопцію</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>
<div class="container">   
    <div class="row">
        <br>
        <div class="col-xs-5 col-sm-3 col-lg-3">
            
            <div>
                <h4>Фільтр пошуку</h4>                
            </div>             
            <label >Виберіть тип тварини:</label>            
                <div>              
                    <select class="form-control col-sm-12" name="animals">
                        <option  value="dog">Собака</option>
                        <option  value="cat">Кіт</option>
                        <option  value="horse">Кінь</option>
                        <option  value="bear">Ведмідь</option>
                        <option  value="bird">Птах</option>
                        <option  value="rodent">Гризун</option>
                    </select>
                </div> 
            <br> 

            <hr>           
            <label>Розмір тварини:</label>
            <div >
            <select class="form-control col-sm-12" name="size">
                <option  value="small">Малий (до 45 см)</option>
                <option  value="normal">Середній (45-65 см)</option>
                <option  value="big">Великий (від 65 см)</option>                       
            </select>
            </div>
            <br> 
            <hr>            
            <label>Стать:</label>
            <div class="checkbox">                          
                <label><input type="checkbox" value="">Самець</label><br> 
                <label><input type="checkbox" value="">Самка</label>       
            </div>             
              
            <hr> 
            

            <div class="row">
                <p><a class="btn btn-default" role="button" href="#">Фільтрувати</a></p>                
            </div>            
        </div>



        <div class="col-xs-7 col-sm-9 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-lg-4 col-sm-6" style="height:400px; margin-bottom: 10px;" ng-repeat="animal in animalsForAdoption">
                    <h4 class="blocktext">Оголошення № {{animal.id}}</h4>

                    <p><image class="displayed" src="../resources/img/no-image.jpg" height="200" /></p>

                    <p class="blocktext2">Тип тварини: {{animal.type.type}}</p>
                    <p class="blocktext2">Порода: {{animal.breed.breedUa}}</p>
                    <p class="blocktext2">Дата реєстрації: {{animal.dateOfRegister}}</p>

                    <p class="blocktext2" style="text-align: center;">
                        <a class="btn btn-default" role="button" href="#ua/animal/detail">Дізнатися більше »</a>
                    </p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-success text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="paginator" items-per-page="limit"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
                <div class="col-md-2 rows-count">
                    <div class="btn-group" dropdown keyboard-nav>
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-success" dropdown-toggle ng-disabled="disabled">
                                {{ limit }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href ng-click="countChanged('10')">10</a></li>
                                <li role="menuitem"><a href ng-click="countChanged('20')">20</a></li>
                                <li role="menuitem"><a href ng-click="countChanged('30')">30</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
