<div class="row" style="height: 50px"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success">
        <table class="table table-hover">
            <thead>
            <tr>
                <td><strong>Тип</strong></td>
                <td><strong>Порода</strong></td>
                <td><strong>Стать</strong></td>
                <td><strong>Окрас</strong></td>
                <td><strong>Номер мікрочіпу</strong></td>
                <td><strong>Дата народження</strong></td>
                <td></td>
            </tr>    
            </thead>
            <tbody>
            <tr ng-repeat="animal in animals">
                <td>{{ animal.type.type }}</td>
                <td>{{ animal.sort }}</td>
                <td>{{ animal.sex.sex }}</td>
                <td>{{ animal.color }}</td>
                <td>{{ animal.transpNumber }}</td>
                <td>{{ animal.dateOfBirth }}</td>
                <td><a href="#/animals_detailed/{{ animal.id }}"><img src="resources/img/view_fullscreen.png"></a></td>
            </tr>    
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>  
        </div>
        <div class="col-md-2"  style="margin-top: 20px;">
            <div class="input-group" dropdown-close>
                <span class="input-group-addon">Результатів</span>
                <dropdown-toggle>
                    <select selectpicker class="selectpicker" data-width="100%" ng-model="limit">
                        <option>10</option>
                        <option>20</option>
                        <option>40</option>
                    </select>
                </dropdown-toggle>
            </div>
        </div>
    </div>
</div>