<div class="row" style="height: 50px"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success">
        <div class="row">
            <div class="panel-body">
                <div class="col-md-5 detailed-left">
                    <img ng-hide="animal.image" src="resources/img/noimg.png">
                    <img ng-show="animal.image" src="{{ animal.image }}">
                </div>
                <div class="col-md-7 detailed-right">
                    <div class="row">
                        <div class="col-md-4">Тип:</div>
                        <div class="col-md-8">{{ animal.type.type }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Порода:</div>
                        <div class="col-md-8">{{ animal.sort }}</div>
                    </div>
                    <hr>
                    <div class="row" id="">
                        <div class="col-md-4">Стать:</div>
                        <div class="col-md-8">{{ animal.sex }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">Окрас:</div>
                        <div class="col-md-8">{{ animal.color }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">CITE:</div>
                        <div class="col-md-8">{{ animal.cites }}</div>
                    </div>
                    <hr>
				</div>
            </div>
        </div>
        <div class="row detailed-bottom">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">Дата народження:</div>
                    <div class="col-md-8">{{ animal.dateOfBirth }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">Дата стерелізації:</div>
                    <div class="col-md-8">{{ animal.dateOfSterilization }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">Дата реєстрації:</div>
                    <div class="col-md-8">{{ animal.dateOfRegister }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">Адреса:</div>
                    <div class="col-md-8">{{ animal.address }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-6 detailed-buttons">
        <div class="col-md-4"><a class="btn btn-primary col-md-12" href="#" role="button">Взяти на адопцію</a></div>
        <div class="col-md-4"><a class="btn btn-success col-md-12" href="#/ua/animals/adoption" role="button">Повернутись</a></div>
    </div>
</div>
