<section id="animal-short-info">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
                        <h2>{{ textTitle }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row height-up"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="row">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 panel-body">
                        <div class="image-wrapper" style="position: relative; width: auto; text-align: center;">
                            <div class="center-block" style="position: relative; width: 200px; height: 200px;">
                                <img class="img-responsive img-thumbnail center-block" src="{{ animalImage }}">

                                <p class="soc-fb"
                                   ng-if="service == 'adoption'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="facebook"
                                   socialshare-type="feed"
                                   socialshare-via="145634995501895"
                                   socialshare-to=""
                                   socialshare-from=""
                                   socialshare-ref=""
                                   socialshare-display="popup"
                                   socialshare-media="{{ animal.image }}"
                                   socialshare-source=""
                                   socialshare-description="{{ 'ANIMAL_ADOPTION_FACEBOOK_SHARE_MESSAGE' | translate }}"
                                   socialshare-text="{{ 'ANIMAL_SHARE_TEXT' | translate }}"
                                   socialshare-caption="{{ 'ANIMAL_ADOPTION_FACEBOOK_SHARE_CAPTION' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/adoption/{{animal.id}}"
                                   socialshare-redirect-uri="https://www.facebook.com/">
                                </p>

                                <p class="soc-gg"
                                   ng-if="service == 'adoption'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="google+"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/adoption/{{animal.id}}">
                                </p>

                                <p class="soc-tw"
                                   ng-if="service == 'adoption'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-via="{{ 'LKP_LEV' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/adoption/{{animal.id}}"
                                   socialshare-hashtags="adoption">
                                </p>

                                <p class="soc-fb"
                                   ng-if="service == 'found'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="facebook"
                                   socialshare-type="feed"
                                   socialshare-via="145634995501895"
                                   socialshare-to=""
                                   socialshare-from=""
                                   socialshare-ref=""
                                   socialshare-display="popup"
                                   socialshare-media="{{ animal.image }}"
                                   socialshare-source=""
                                   socialshare-description="{{ 'ANIMAL_FOUND_FACEBOOK_SHARE_MESSAGE' | translate }}"
                                   socialshare-text="{{ 'ANIMAL_SHARE_TEXT' | translate }}"
                                   socialshare-caption="{{ 'ANIMAL_FOUND_FACEBOOK_SHARE_CAPTION' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/found/{{animal.id}}"
                                   socialshare-redirect-uri="https://www.facebook.com/">
                                </p>

                                <p class="soc-gg"
                                   ng-if="service == 'found'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="google+"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/found/{{animal.id}}">
                                </p>

                                <p class="soc-tw"
                                   ng-if="service == 'found'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-via="{{ 'LKP_LEV' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/found/{{animal.id}}"
                                   socialshare-hashtags="found">
                                </p>

                                <p class="soc-fb"
                                   ng-if="service == 'lost'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="facebook"
                                   socialshare-type="feed"
                                   socialshare-via="145634995501895"
                                   socialshare-to=""
                                   socialshare-from=""
                                   socialshare-ref=""
                                   socialshare-display="popup"
                                   socialshare-media="{{ animal.image }}"
                                   socialshare-source=""
                                   socialshare-description="{{ 'ANIMAL_LOST_FACEBOOK_SHARE_MESSAGE' | translate }}"
                                   socialshare-text="{{ 'ANIMAL_SHARE_TEXT' | translate }}"
                                   socialshare-caption="{{ 'ANIMAL_LOST_FACEBOOK_SHARE_CAPTION' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/lost/{{animal.id}}"
                                   socialshare-redirect-uri="https://www.facebook.com/">
                                </p>

                                <p class="soc-gg"
                                   ng-if="service == 'lost'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="google+"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/lost/{{animal.id}}">
                                </p>

                                <p class="soc-tw"
                                   ng-if="service == 'lost'"
                                   ng-href
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-via="{{ 'LKP_LEV' | translate }}"
                                   socialshare-url="http://lkplev.unicloud.pl/#/ua/animal/lost/{{animal.id}}"
                                   socialshare-hashtags="lost">
                                </p>
                            </div>
                        </div>
                        <p>

                        <div ng-cloak id="status-sprite-{{animal.id}}" class="center-block center-link"></div>
                        </p>
                    </div>
                    <div class="col-md-6 detailed-right">
                        <div class="row">
                            <div class="col-md-4">{{ 'TYPE' | translate }}:</div>
                            <div class="col-md-8" ng-if="currentLanguage === 'uk'">{{ animal.type.type }}</div>
                            <div class="col-md-8" ng-if="currentLanguage !== 'uk'">{{ animal.type.typeEn }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">{{ 'BREED' | translate }}:</div>
                            <div class="col-md-8" ng-if="currentLanguage === 'uk'">{{ animal.breed.breedUa }}</div>
                            <div class="col-md-8" ng-if="currentLanguage !== 'uk'">{{ animal.breed.breedEn }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">{{ 'SEX' | translate }}:</div>
                            <div class="col-md-8" ng-if="animal.sex === 'NONE'">{{ 'NOT_IDENTIFIED' | translate }}</div>
                            <div class="col-md-8" ng-if="animal.sex === 'MALE'">{{ 'SEX_MALE' | translate }}</div>
                            <div class="col-md-8" ng-if="animal.sex === 'FEMALE'">{{ 'SEX_FEMALE' | translate }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">{{ 'COLOR' | translate }}:</div>
                            <div class="col-md-8">{{ animal.color }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">{{ 'SIZE' | translate }}:</div>
                            <div class="col-md-8" ng-if="animal.size === 'NONE'">{{ 'NOT_IDENTIFIED' | translate }}
                            </div>
                            <div class="col-md-8" ng-if="animal.size === 'SMALL'">{{ 'SIZE_SMALL' | translate }}</div>
                            <div class="col-md-8" ng-if="animal.size === 'MIDDLE'">{{ 'SIZE_NORMAL' | translate }}</div>
                            <div class="col-md-8" ng-if="animal.size === 'LARGE'">{{ 'SIZE_LARGE' | translate }}</div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row detailed-bottom" ng-show="detail">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">{{ 'BIRTH_DATE' | translate }}:</div>
                        <div class="col-md-8">{{ animal.dateOfBirth }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">{{ 'STERILIZATION_DATE' | translate }}:</div>
                        <div class="col-md-8">{{ animal.dateOfSterilization }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">{{ 'REGISTRATION_DATE' | translate }}:</div>
                        <div class="col-md-8">{{ animal.dateOfRegister }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">CITES:</div>
                        <div class="col-md-8" ng-if="animal.cites === 'NONE'">{{ 'NOT_IDENTIFIED' | translate }}</div>
                        <div class="col-md-8" ng-if="animal.cites === 'CITES1'">CITES I</div>
                        <div class="col-md-8" ng-if="animal.cites === 'CITES2'">CITES II</div>
                        <div class="col-md-8" ng-if="animal.cites === 'CITES3'">CITES III</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-6 detailed-buttons">
            <div class="col-md-7"><a class="btn btn-primary col-md-12" ng-click="openDialog()" role="button">{{
                textButton }}</a></div>
            <div class="col-md-5"><a class="btn btn-warning col-md-12" href={{linkBack}} role="button">{{ 'BACK' |
                translate }}</a></div>
        </div>
    </div>
</section>

<pop-up-dialog>
    <div id="popUpDialog-bg" ng-show="showPopUpDialog">
        <div id="popUpDialog">
            <div class="content">
                <form role="form" name="messageForm"  ng-submit="submitMessage()" novalidate>
                    <div class="form-group "
                         ng-class="{ 'has-error' : messageForm.messagename.$invalid && !messageForm.messagename.$pristine }">
                        <label class="control-label" for="messagename">{{ 'NAME' | translate }}</label>
                        <input type="text" class="form-control" id="messagename" name="messagename" ng-model="message.signup"  placeholder="{{ 'CONTACTS_INPUT_NAME' | translate }}" required=""
                               ng-minlength="3"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="false"></span>
                        <span id="messagenameStatus" class="sr-only">(success)</span>
                    </div>
				 <span ng-show="messageForm.messagename.$invalid && messageForm.messagename.$error.minlength && !messageForm.messagename.$pristine"
                       class="help-block error">{{ 'CONTACTS_INPUT_NAME_FAILED' | translate }}</span>

                    <div class="form-group "
                         ng-class="{ 'has-error' : messageForm.messageemail.$invalid && !messageForm.messageemail.$pristine }">
                        <label class="control-label" for="messageemail">{{ 'EMAIL' | translate }}</label>
                        <input type="email" class="form-control" id="messageemail" name="messageemail" ng-model="message.email"  placeholder="{{ 'CONTACTS_INPUT_EMAIL' | translate }}" required=""
                               ng-minlength="5"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="messageemailStatus" class="sr-only">(success)</span>
                    </div>
				  <span ng-show="messageForm.messageemail.$invalid && messageForm.messageemail.$error.email && !messageForm.messageemail.$pristine"
                        class="help-block error">{{ 'CONTACTS_INPUT_EMAIL_FAILED' | translate }}</span>

                    <div class="form-group "
                         ng-class="{ 'has-error' : messageForm.messagetel.$invalid && !messageForm.messagetel.$pristine }">
                        <label class="control-label" for="messagetel">{{ 'PHONE' | translate }}</label>
                        <input type="tel" class="form-control" id="messagetel" name="messagetel" ng-model="message.tel"  placeholder="{{ 'MESSAGE_INPUT_PHONE' | translate }}" required=""
                               ng-minlength="13"/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="messagetelStatus" class="sr-only">(success)</span>
                    </div>
				  <span ng-show="messageForm.messagetel.$invalid && messageForm.messagetel.$error.tel && !messageForm.messageemail.$pristine"
                        class="help-block error">{{ 'MESSAGE_INPUT_PHONE_FAILED' | translate }}</span>

                    <div class="form-group"
                         ng-class="{ 'has-error' : messageForm.messagetext.$invalid && !messageForm.messagetext.$pristine }">
                        <label class="control-label" for="messagetext">{{ 'CONTACTS_MESSAGE' | translate }}</label>
                        <textarea rows="5" cols="100" class="form-control" id="messagetext" name="messagetext" ng-model="message.text" placeholder="{{ 'CONTACTS_MESSAGE' | translate }}" required/>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="messagestatus" class="sr-only">(success)</span>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group">
                            <div
                                    vc-recaptcha
                                    theme="'light'"
                                    key="model.key"
                                    on-create="setWidgetId(widgetId)"
                                    on-success="setResponse(response)"
                                    on-expire="cbExpiration()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><button type="submit" id="messageSubmit" class="btn btn-success col-lg-12" ng-disabled="messageForm.$invalid" >{{ 'SEND' | translate }}</button></div>
                        <div class="col-md-6"><button class="btn btn-warning col-lg-12"  ng-click="closeDialog()">Відміна</button></div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</pop-up-dialog>
<pop-up-dialog>
    <div id="modal-bg" ng-show="showModal">
        <div id="modal">
            <div class = "content">
                <!-- Spinner -->
                <div ng-show="spinnerloading" id="loading-block"> </div>

                <div class="alert alert-success" role="alert" ng-show="okmessage">{{ 'MESSAGE_OK' | translate }}</div>
                <div class="alert alert-danger" role="alert" ng-show="errormessage">{{ 'MESSAGE_ERROR' | translate }}</div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button  class="btn btn-primary btn-lg" ng-click="closeModal()">OK</button></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</pop-up-dialog>