<div class="row" style="height: 50px"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success">
        <table class="table table-hover">
            <thead>
            <tr>
                <td><strong>Тип</strong></td>
                <td><strong>Порода</strong></td>
                <td><strong>Стать</strong></td>
                <td><strong>Окрас</strong></td>
                <td><strong>Номер мікрочіпу</strong></td>
                <td><strong>Дата народження</strong></td>
                <td></td>
            </tr>    
            </thead>
            <tbody>
            <tr ng-repeat="animal in animals">
                <td>{{ animal.type.type }}</td>
                <td>{{ animal.sort }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.color }}</td>
                <td>{{ animal.transpNumber }}</td>
                <td>{{ animal.dateOfBirth }}</td>
                <td><a href="#/ua/user/home/animals/{{ animal.id }}"><img src="resources/img/view_fullscreen.png"></a></td>
            </tr>    
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-success text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="paginator" items-per-page="limit"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
        <div class="col-md-2 rows-count">
            <div class="btn-group" dropdown keyboard-nav>
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-success" dropdown-toggle ng-disabled="disabled">
                        {{ limit }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href ng-click="countChanged('10')">10</a></li>
                        <li role="menuitem"><a href ng-click="countChanged('20')">20</a></li>
                        <li role="menuitem"><a href ng-click="countChanged('30')">30</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>