<section id="loginpage">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlewrap">
                        <h2 class="title center">
                            {{ 'REGISTRATION_CONFIRMATION' | translate }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <br>
        <div class="row">
            <h3>{{ 'REGISTRATION_LINK' | translate }}</h3>
            <div ng-show="errorRegistrationConfirmMessage"
                 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{{ 'ERROR' | translate }}</span> {{ 'REGISTRATION_ERROR' | translate }}
            </div>
        </div>
    </div>
</section>



