<style>
	.main-color {
		color:#358cce;
	}
	 #map {
		width:100%;
		height:350px;
		display:block;
	 }
</style>
<div class="contacts">

<section id="contacts">
<div class="jumbotron">     
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="col-sm-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg" width="70"/></p>
					</div>
					<div class="col-sm-11 col-lg-11">	
						<h2>{{ 'CONTACTS' | translate }}</h2>
					</div>
				</div>
			</div>
		</div>
</div>
</section>

    <div class="container">
      <div class="row">
			<div class="col-sm-12 col-lg-12">
				<div class="panel">
					<div class="panel-heading">
						<h3><i class="icon-map-marker main-color"></i> {{ 'LOCATION' | translate }}</h3>
					</div>
					<div class="panel-body">
						<div class="row">
						    <div class="col-sm-12 col-lg-12">
                                <!-- gMap script container -->
							    <div id="map"></div>
						    </div>
						</div>
					</div>
				  </div>
			</div>
		</div>
	<hr>
	<div class="row">
			<div class="col-sm-4 col-lg-4">
				<div class="panel">
					<div class="panel-heading">
						<h3><i class="icon-pushpin main-color"></i> {{ 'OFFICE' | translate }}</h3>
					</div>
					<div class="panel-body">
						<address>
						<strong>{{ 'LKP_LEV' | translate }}</strong><br>
						{{ 'OFFICE_ADDRESS_COUNTRY' | translate }}<br>
                        {{ 'OFFICE_ADDRESS_TOWN' | translate }}<br>
                        {{ 'OFFICE_ADDRESS_STREET' | translate }}<br>
                        <i class="icon-phone-sign"></i> +38 (032) 252-30-41<br>
						<i class="icon-phone-sign"></i> +38 (063) 941-25-18
						</address>
					</div>
				</div>
			
			<div class="panel">
				<div class="panel-heading">
				  <h3><i class="icon-time main-color"></i>{{ 'TIMETABLE' | translate }}</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
					  <thead>
						<tr>
						  <th>{{ 'DAY' | translate }}</th>
						  <th>{{ 'TIME' | translate }}</th>
						</tr>
					  </thead>
					  <tbody>
						<tr class="success">
						  <td>{{ 'MONDAY' | translate }}</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						  <td>{{ 'TUESDAY' | translate }}</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">

						  <td>{{ 'WEDNESDAY' | translate }}</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						 
						  <td>{{ 'THURSDAY' | translate }}</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						 
						  <td>{{ 'FRIDAY' | translate }}</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="danger">
						
						  <td>{{ 'SATURDAY' | translate }}</td>
						  <td>{{ 'DAY_OFF' | translate }}</td>
						</tr>
						<tr class="danger">
						
						  <td>{{ 'SUNDAY' | translate }}</td>
						  <td>{{ 'DAY_OFF' | translate }}</td>
						</tr>
					  </tbody>
					</table>
					</div>
				</div>
			</div>
       <div class="col-12 col-lg-8">
	  
			<div class="panel">
					<div class="panel-heading">	
			<h3 class="">
				<i class="icon-envelope main-color"></i>
            {{ 'CONTACTS_FILL_FORM' | translate }}
			</h3>
			</div>
			<div class="panel-body">
			<!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->

			<form role="form" name="feedbackForm" ng-submit="submit(feedbackForm.$valid)" novalidate>
			      <div class="form-group has-feedback"
					  ng-class="{ 'has-error' : feedbackForm.feedbackname.$invalid && !feedbackForm.feedbackname.$pristine }">
					  <label class="control-label" for="feedbackname">{{ 'NAME' | translate }}</label>
					  <input type="text" class="form-control" id="feedbackname" name="feedbackname" ng-model="feedback.signup"  placeholder="{{ 'CONTACTS_INPUT_NAME' | translate }}" required=""
							 ng-minlength="3"/>
					  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="false"></span>
					  <span id="feedbacknameStatus" class="sr-only">(success)</span>
                  </div>
				 <span ng-show="feedbackForm.feedbackname.$invalid && feedbackForm.feedbackname.$error.minlength && !feedbackForm.feedbackname.$pristine"
				   class="help-block error">{{ 'CONTACTS_INPUT_NAME_FAILED' | translate }}</span>

				  <div class="form-group has-feedback"
					   ng-class="{ 'has-error' : feedbackForm.feedbackemail.$invalid && !feedbackForm.feedbackemail.$pristine }">
							  <label class="control-label" for="feedbackemail">{{ 'EMAIL' | translate }}</label>
                              <input type="email" class="form-control" id="feedbackemail" name="feedbackemail" ng-model="feedback.email"  placeholder="{{ 'CONTACTS_INPUT_EMAIL' | translate }}" required=""
									 ng-minlength="5"/>
							  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							  <span id="feedbackemailStatus" class="sr-only">(success)</span>
                          </div>
				  <span ng-show="feedbackForm.feedbackemail.$invalid && feedbackForm.feedbackemail.$error.email && !feedbackForm.feedbackemail.$pristine"
				   class="help-block error">{{ 'CONTACTS_INPUT_EMAIL_FAILED' | translate }}</span>

				  <div class="form-group has-feedback"
					   ng-class="{ 'has-error' : feedbackForm.feedbacktext.$invalid && !feedbackForm.feedbacktext.$pristine }">
									  <label class="control-label" for="feedbacktext">{{ 'CONTACTS_MESSAGE' | translate }}</label>
                                      <textarea rows="10" cols="100" class="form-control" id="feedbacktext" name="feedbacktext" ng-model="feedback.text" placeholder="{{ 'CONTACTS_MESSAGE' | translate }}" required/>
									  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
									  <span id="feedbacktextStatus" class="sr-only">(success)</span>
                                  </div>

				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<div
									vc-recaptcha
									theme="'light'"
									key="model.key"
									on-create="setWidgetId(widgetId)"
									on-success="setResponse(response)"
									on-expire="cbExpiration()">
							</div>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="input-group">
							<!-- Spinner -->
							<div ng-show="spinnerloading" id="loading-block"> </div>

							<div class="alert alert-warning" role="alert" ng-show="startupmessage">{{ 'CONTACTS_STARTUP_MESSAGE' | translate }}</div>
							<div class="alert alert-success" role="alert" ng-show="okmessage">{{ 'CONTACTS_OK_MESSAGE' | translate }}</div>
							<div class="alert alert-danger" role="alert" ng-show="errormessage">{{ 'CONTACTS_ERROR_MESSAGE' | translate }}</div>

						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->

                                  <button type="submit" id="feedbackSubmit1" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;" ng-disabled="feedbackForm.$invalid">{{ 'SEND' | translate }}</button>
                                </form>
                            <!-- END CONTACT FORM -->

			</div>
			</div>			
		</div>
      </div>

      <hr>

    </div> <!-- /container -->
</div>