<style>
	.main-color {
		color:#358cce;
	}
	 #map {
		width:100%;
		height:350px;
		display:block;
	 }
</style>
<div class="contacts">

<section id="contacts">
<div class="jumbotron">     
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="col-sm-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg" width="70"/></p>
					</div>
					<div class="col-sm-11 col-lg-11">	
						<h2>Контакти</h2>
					</div>
				</div>
			</div>
		</div>
</div>
</section>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
			<div class="col-sm-12 col-lg-12">
				<div class="panel">
					<div class="panel-heading">
						<h3><i class="icon-map-marker main-color"></i> Місцезнаходження</h3>
					</div>
					<div class="panel-body">
					  <!-- gMap script container !Do not remove!! -->
							  <div id="map"></div>	 
					  <!-- gMap script container !Do not remove!! -->
					</div>
				  </div>
			</div>
		</div>
	<hr>
	<div class="row">
			<div class="col-sm-4 col-lg-4">
				<div class="panel">
					<div class="panel-heading">
						<h3><i class="icon-pushpin main-color"></i> Наш офіс</h3>
					</div>
					<div class="panel-body">
						<address>
						<strong>ЛКП "Лев"</strong><br>
						вул. Промислова, 56<br>
						Львів, 79024<br>
						Україна<br>
						<i class="icon-phone-sign"></i> +38 (032) 252-30-41<br>
						<i class="icon-phone-sign"></i> +38 (063) 941-25-18
						</address>
					</div>
				</div>
			
			<div class="panel">
				<div class="panel-heading">
				  <h3><i class="icon-time main-color"></i> Розклад роботи</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
					  <thead>
						<tr>
						  
						  <th>День</th>
						  <th>Час</th>
						</tr>
					  </thead>
					  <tbody>
						<tr class="success">
						  <td>Понеділок</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						  <td>Вівторок</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						 
						  <td>Середа</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						 
						  <td>Четвер</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="success">
						 
						  <td>П'ятниця</td>
						  <td>9:00 to 18:00</td>
						</tr>
						<tr class="danger">
						
						  <td>Субота</td>
						  <td>вихідний</td>
						</tr>
						<tr class="danger">
						
						  <td>Неділя</td>
						  <td>вихідний</td>
						</tr>
					  </tbody>
					</table>
					</div>
				</div>
			</div>
       <div class="col-12 col-lg-8">
	  
			<div class="panel">
					<div class="panel-heading">	
			<h3 class="">
				<i class="icon-envelope main-color"></i>
				Заповніть форму для контактів
			</h3>
			</div>
			<div class="panel-body">
			<!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
			
			<form role="form" id="feedbackForm" ng-submit="submit()">


			      <div class="form-group has-feedback">
					  <label class="control-label" for="feedbackname">Ім'я</label>
					  <input type="text" class="form-control" id="feedbackname" ng-model="feedback.signup"  placeholder="Введіть ім'я" required>
					  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					  <span id="feedbacknameStatus" class="sr-only">(success)</span>
                  </div>

                          <div class="form-group has-feedback">
							  <label class="control-label" for="feedbackemail">E-mail</label>
                              <input type="email" class="form-control" id="feedbackemail" ng-model="feedback.email"  placeholder="Введіть e-mail" required>
							  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							  <span id="feedbackemailStatus" class="sr-only">(success)</span>
                          </div>

                                  <div class="form-group has-feedback">
									  <label class="control-label" for="feedbacktext">Повідомлення</label>
                                      <textarea rows="10" cols="100" class="form-control" id="feedbacktext" ng-model="feedback.text" placeholder="Повідомлення" required></textarea>
									  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
									  <span id="feedbacktextStatus" class="sr-only">(success)</span>
                                  </div>

				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<div
									vc-recaptcha
									theme="'light'"
									key="model.key"
									on-create="setWidgetId(widgetId)"
									on-success="setResponse(response)"
									on-expire="cbExpiration()">
							</div>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					<div class="col-lg-6">
						<div class="input-group">
							<!-- Spinner -->
							<div ng-show="spinnerloading" id="loading-block"> </div>

							<div class="alert alert-warning" role="alert" ng-show="startupmessage">Заповніть усі поля та оберіть - "Я не робот"</div>
							<div class="alert alert-success" role="alert" ng-show="okmessage">Лист відправлено! Дякуємо за відгук!</div>
							<div class="alert alert-danger" role="alert" ng-show="errormessage">Лист не відправлено. Помилка сервера. Спробуйте пізніше</div>

						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->




                                  <button type="submit" id="feedbackSubmit1" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Надіслати</button>
                                </form>
                            <!-- END CONTACT FORM -->
				<p class="blocktext2">Публікація в соцмержах:</p>
				<div class="text-center">

					<a class="btn btn-social-icon btn-facebook btn-md"><i class="fa fa-facebook"></i></a>
					<a class="btn btn-social-icon btn-twitter btn-md"><i class="fa fa-twitter"></i></a>

				</div>
			</div>
			</div>			
		</div>
      </div>

      <hr>

    </div> <!-- /container -->
</div>