<div class="login">

<section id="loginpage">
<div class="jumbotron">     
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="col-sm-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg" width="70"></p>
					</div>
					<div class="col-sm-11 col-lg-11">	
						<h2>Вхід</h2>
					</div>
				</div>
			</div>
		</div>
</div>
<br>

<div class="container">

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>


	<div class="row">
		<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-10 col-sm-6 col-md-4 col-lg-4" id="loginblock">
		<form>
			<br>
			<div class="form-group">
	    		<label class="col-xs-5 col-sm-5 col-lg-5 control-label" >Логін:</label>
	    		<div class="col-xs-12 col-sm-12 col-lg-12">
	      		<input class="form-control" id="login" ng-model="login.userLogin">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-lg-5 control-label" >Пароль:</label>
	    		<div class="col-xs-12 col-sm-12 col-lg-12">
	      		<input class="form-control" type="password" id="password" ng-model="login.password">
	    		</div>
	    	</div>
	    	<div class="form-group checkbox">
	  			<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></label>	  			
				<label class="col-xs-10 col-sm-10 col-md-8 col-lg-8"><input class="form-group" type="checkbox" ng-model="login.memoryMe">Запам'ятати мене</label>	
			</div>
	    	
	  		<div class="form-group">
		  		<label class="col-xs-12 col-sm-12 col-lg-12 control-label"></label>
		  		<div class="col-xs-12 col-sm-12 col-lg-12">	  			
				<button name="submit" type="submit" ng-click = "login()" class="btn btn-success btn-lg col-xs-12 col-sm-12 col-lg-12">ВХІД</button>
				</div>	  			 			
			</div>
			
	  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 socialButtons">	  		
				<div class = "buttonSing">
					<a class="btn btn-sm btn-block btn-social btn-twitter">
					    <i class="fa fa-twitter"></i> Вхід з Twitter
					</a>
				</div>
				<div class = "buttonSing">
					<a class="btn btn-sm btn-block btn-social btn-facebook">
					    <i class="fa fa-facebook"></i> Вхід з Facebook
					</a>
				</div>
				<div class = "buttonSing">
					<a href="http://localhost:8080/webapi/account/login/google" class="btn btn-sm btn-block btn-social btn-google" id="googleButton">
					    <i class="fa fa-google"></i> Вхід з Google
					</a>
				</div>
				<p>*Тільки для зереєстрованих користувачів</p><p>&nbsp;</p>

			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">				
				<p>&nbsp;&nbsp;</p>
				<p><a href="#ua/user/registration">Реєстрація</a></p>
			</div>
		</form>				
		</div>		
		</div>
	</div>
	
</div> <!-- /container -->
