<section id="reg_losted">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-1 col-lg-1">
                        <p><img src="../resources/img/main_dog.jpg" width="70"></p>
                    </div>
                    <div class="col-sm-11 col-lg-11">
                        <h2>Реєстрація безпритульної тварини</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4" ng-controller="AnimalDetailController">
                <form>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Загальні відомості</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <!-- Animal type -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label for="animal-kind">Тип(вид) тварини:</label><br>

                                    <div class="input-group">
                                        <span class="input-group-addon">Тип:</span>
                                        <ol id="animal-kind" class="nya-bs-select nya-bs-select-mod"
                                            ng-model="animal.type"
                                            ng-change="getAnimalBreeds()" style="cursor: pointer" title="Не вибрано">

                                            <li nya-bs-option="animalType in animalTypes">
                                                <a>{{ animalType.type }}</a>
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                                <!-- Animal size -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label>Розмір тварини:</label>

                                    <div class="input-group">
                                        <span class="input-group-addon">Розмір:</span>
                                        <ol class="nya-bs-select nya-bs-select-mod" style="cursor: pointer"
                                            ng-model="animal.size" title="Не вибрано">
                                            <li class="nya-bs-option" value="малий"><a>маленький</a></li>
                                            <li class="nya-bs-option" value="середній"><a>середній</a></li>
                                            <li class="nya-bs-option" value="великий"><a>великий</a></li>
                                        </ol>
                                    </div>
                                </div>

                                <!-- Animal CITES -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label>Приналежність до CITES:</label>

                                    <div class="input-group">
                                        <span class="input-group-addon">CITES:</span>
                                        <ol class="nya-bs-select nya-bs-select-mod" style="cursor: pointer"
                                            ng-model="animal.citesType" title="Не вибрано">
                                            <li class="nya-bs-option" value="не визначено"><a>Не належить</a></li>
                                            <li class="nya-bs-option" value="CITES I"><a>CITES I</a></li>
                                            <li class="nya-bs-option" value="CITES II"><a>CITES II</a></li>
                                            <li class="nya-bs-option" value="CITES III"><a>CITES III</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">

                                <!-- Animal birth date -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <div class="form-group">
                                        <label for="birth-date">Дата народження:</label>
                                        <input type="text" class="form-control"
                                               id="birth-date" ng-model="animal.dateOfBirth"
                                               placeholder="Дата народження"/>
                                    </div>
                                </div>

                                <!-- Animal sex -->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label class="control-label input-group">Стать:</label>

                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sex" value="самець" ng-model="animal.sex">
                                                Самець
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sex" value="самка" ng-model="animal.sex">
                                                Самка
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Animal breed -->
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3">
                                    <label>Введіть породу тварини:</label>

                                    <div class="form-group">
                                        <input type="text" ng-model="animal.breed"
                                               typeahead="breed as breed.breedUa for breed in animalBreeds | filter:{breedUa:$viewValue} | limitTo:8"
                                               class="form-control border-right-radius"
                                               placeholder="Порода тварини">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <!-- Окрас -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Окрас</h3>
                                </div>
                                <div class="panel-body">

                                    <!-- Animal colors (on image) -->
                                    <label>Виберіть основний окрас:</label><br>
                                    <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin"
                                         ng-repeat="color in colorTypes">

                                        <a ng-href class="sprite-image" id="color-sprites-{{$index}}"
                                           ng-click="addColor(color)"></a>
                                        {{color}}
                                    </div>

                                    <!-- Animal colors (text field) -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                        <label>Або введіть вручну:</label>
                                        <input type="text" class="form-control"
                                               id="animal-color" placeholder="Або введіть вручну"
                                               ng-model="animal.color" value="{{animal.color}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Інформація про місцезнаходження</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="country">Країна:</label>
                                        <input type="text" class="form-control"
                                               id="country" placeholder="Країна"
                                                ng-model="address.country"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="town">Місто:</label>
                                        <input type="text" class="form-control"
                                               id="town" placeholder="Місто"
                                               ng-model="address.town"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="animal-address">Адреса місця перебування тварини:</label>
                                        <input type="text" class="form-control"
                                               id="animal-address" placeholder="Поштова адреса"
                                               ng-model="address.street"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="animal-post-index">Поштовий індекс місця перебування
                                            тварини:</label>
                                        <input type="text" class="form-control"
                                               id="animal-post-index" placeholder="Поштовий індекс"
                                               ng-model="address.index"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Фотографія тварини</h3>
                                </div>
                                <div class="panel-body">
                                    <label for="animal-photo">Завантажте фотографію тварини:</label><br>
                                    <input type="file" id="animal-photo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="insertHomelessAnimal(animal)">Зареєструвати</button>

                </form>
            </div>
        </div>
    </div>
</section>