<section id="reg_losted">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-1 col-lg-1">
                        <p><img src="../resources/img/main_dog.jpg" width="70"></p>
                    </div>
                    <div class="col-sm-11 col-lg-11">
                        <h2>Реєстрація безпритульної тварини</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-4" ng-controller="AnimalDetailController">
                <form name="animalForm" ng-submit="submitForm(animalForm.$valid)" novalidate>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Загальні відомості</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <!-- Animal type -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label for="animal-kind" class="control-label">Тип(вид) тварини:</label><br>

                                    <div class="input-group"
                                         ng-class="{ 'has-error' : animalForm.kind.$invalid && !animalForm.kind.$pristine }">
                                        <span class="input-group-addon">Тип:</span>
                                        <ol id="animal-kind" name="kind"
                                            class="nya-bs-select nya-bs-select-mod"
                                            ng-model="animal.type"
                                            ng-change="getAnimalBreeds()" style="cursor: pointer"
                                            title="Не вибрано"
                                            required>

                                            <li nya-bs-option="animalType in animalTypes">
                                                <a>{{ animalType.type }}</a>
                                            </li>
                                        </ol>
                                    </div>
                                    <p ng-show="animalForm.kind.$invalid && !animalForm.cites.$pristine"
                                       class="help-block error">Тип не вибрано.</p>
                                </div>

                                <!-- Animal size -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label for="animal-size" class="control-label">Розмір тварини:</label>

                                    <div class="input-group"
                                         ng-class="{ 'has-error' : animalForm.size.$invalid && !animalForm.size.$pristine }">
                                        <span class="input-group-addon">Розмір:</span>
                                        <ol class="nya-bs-select nya-bs-select-mod" id="animal-size"
                                            name="size" style="cursor: pointer"
                                            ng-model="animal.size" title="Не вибрано">
                                            <li class="nya-bs-option" value="малий"><a>маленький</a></li>
                                            <li class="nya-bs-option" value="середній"><a>середній</a></li>
                                            <li class="nya-bs-option" value="великий"><a>великий</a></li>
                                        </ol>
                                    </div>

                                    <p ng-show="animalForm.size.$invalid && !animalForm.cites.$pristine"
                                       class="help-block error">Розмір не вибрано.</p>
                                </div>

                                <!-- Animal CITES -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                    <label for="animal-cites" class="control-label">Приналежність до CITES:</label>

                                    <div class="input-group"
                                         ng-class="{ 'has-error' : animalForm.cites.$invalid && !animalForm.cites.$pristine }">
                                        <span class="input-group-addon">CITES:</span>
                                        <ol class="nya-bs-select nya-bs-select-mod" id="animal-cites"
                                            name='cites' style="cursor: pointer"
                                            ng-model="animal.cites" title="Не вибрано" required>
                                            <li class="nya-bs-option" value="не визначено"><a>Не належить</a></li>
                                            <li class="nya-bs-option" value="CITES I"><a>CITES I</a></li>
                                            <li class="nya-bs-option" value="CITES II"><a>CITES II</a></li>
                                            <li class="nya-bs-option" value="CITES III"><a>CITES III</a></li>
                                        </ol>
                                    </div>
                                    <p ng-show="animalForm.cites.$invalid && !animalForm.cites.$pristine"
                                       class="help-block error">CITES не вибрано.</p>
                                </div>
                            </div>

                            <hr>

                            <div class="row">

                                <!-- Animal birth date -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2" ng-controller="DPController">
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.dateOfBirth.$invalid && !animalForm.dateOfBirth.$pristine }">
                                        <label for="birth-date" class="control-label">Дата народження:</label>

                                        <input id="birth-date" name="dateOfBirth"
                                               placeholder="Дата народження"
                                               type="text" class="form-control"
                                               datepicker-popup="yyyy-MM-dd"
                                               ng-model="animal.dateOfBirth"
                                               is-open="opened"
                                               datepicker-options="dateOptions"
                                               ng-click="open($event)"
                                               close-text="Close"
                                               required ng-minlength="8" ng-maxlength="10"/>

                                        <p ng-show="animalForm.dateOfBirth.$error.required && !animalForm.dateOfBirth.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.dateOfBirth.$error.minlength && !animalForm.dateOfBirth.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.dateOfBirth.$error.maxlength && !animalForm.dateOfBirth.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>
                                </div>

                                <!-- Animal sex -->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label class="control-label input-group">Стать:</label>

                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.sex.$invalid && !animalForm.sex.$pristine }"
                                         name="sex"
                                         required>
                                        <div class="radio">
                                            <label for="m">
                                                <input type="radio" id="m" name="sex" value="самець" ng-model="animal.sex">
                                                Самець
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="w">
                                                <input type="radio" id="w" name="sex" value="самка" ng-model="animal.sex">
                                                Самка
                                            </label>
                                        </div>
                                    </div>

                                    <p ng-show="animalForm.sex.$invalid && !animalForm.sex.$pristine"
                                       class="help-block error">Стать не вибрано.</p>
                                </div>

                                <!-- Animal breed -->
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3">
                                    <label for="animal-breed">Введіть породу тварини:</label>

                                    <div class="form-group" name="breed">
                                        <input type="text" ng-model="animal.breed" id="animal-breed"
                                               typeahead="breed as breed.breedUa for breed in animalBreeds | filter:{breedUa:$viewValue} | limitTo:8"
                                               class="form-control border-right-radius"
                                               placeholder="Порода тварини">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <!-- Окрас -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Окрас</h3>
                                </div>
                                <div class="panel-body">

                                    <!-- Animal colors (on image) -->
                                    <label>Виберіть основний окрас:</label><br>
                                    <div class="thumbnail col-lg-2 col-md-2 col-sm-2 col-xs-4 left-margin"
                                         ng-repeat="color in colorTypes" style="margin:5px; cursor: pointer;">

                                        <a ng-href class="sprite-image" id="color-sprites-{{$index}}"
                                           ng-click="addColor(color)"></a>
                                        <label for="color-sprites-{{$index}}">{{color}}</label>
                                    </div>

                                    <!-- Animal colors (text field) -->
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-6"
                                         ng-class="{ 'has-error' : animalForm.color.$invalid && !animalForm.color.$pristine }">
                                        <label for="animal-color" class="control-label">Або введіть вручну:</label>
                                        <input type="text" class="form-control" name="color"
                                               id="animal-color" placeholder="Або введіть вручну"
                                               ng-model="animal.color" value="{{animal.color}}"
                                               required ng-minlength="5" ng-maxlength="20"/>

                                        <p ng-show="animalForm.color.$error.required && !animalForm.color.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.color.$error.minlength && !animalForm.color.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.color.$error.maxlength && !animalForm.color.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Інформація про місцезнаходження</h3>
                                </div>
                                <div class="panel-body">

                                    <!-- Country -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.userCountry.$invalid && !animalForm.userCountry.$pristine }">
                                        <label for="country" class="control-label">Країна:</label>
                                        <input type="text" class="form-control"
                                               name="userCountry"
                                               id="country" placeholder="Країна"
                                               ng-model="address.country"
                                               required ng-minlength="3" ng-maxlength="30"/>

                                        <p ng-show="animalForm.userCountry.$error.required && !animalForm.userCountry.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.userCountry.$error.minlength && !animalForm.userCountry.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.userCountry.$error.maxlength && !animalForm.userCountry.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>

                                    <!-- Town -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.userTown.$invalid && !animalForm.userTown.$pristine }">
                                        <label for="town" class="control-label">Місто:</label>
                                        <input type="text" class="form-control"
                                               name="userTown"
                                               id="town" placeholder="Місто"
                                               ng-model="address.town"
                                               required ng-minlength="3" ng-maxlength="40" />

                                        <p ng-show="animalForm.userTown.$error.required && !animalForm.userTown.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.userTown.$error.minlength && !animalForm.userTown.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.userTown.$error.maxlength && !animalForm.userTown.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>

                                    <!-- Street -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.userStreet.$invalid && !animalForm.userStreet.$pristine }">
                                        <label for="animal-address" class="control-label">Адреса місця перебування тварини:</label>
                                        <input type="text" class="form-control"
                                               name="userStreet"
                                               id="animal-address" placeholder="Поштова адреса"
                                               ng-model="address.street"
                                               required ng-minlength="3" ng-maxlength="40" />

                                        <p ng-show="animalForm.userStreet.$error.required && !animalForm.userStreet.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.userStreet.$error.minlength && !animalForm.userStreet.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.userStreet.$error.maxlength && !animalForm.userStreet.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>

                                    <!-- Index -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : animalForm.userIndex.$invalid && !animalForm.userIndex.$pristine }">
                                        <label for="animal-post-index" class="control-label">Поштовий індекс місця перебування
                                            тварини:</label>
                                        <input type="text" class="form-control"
                                               name="userIndex"
                                               id="animal-post-index" placeholder="Поштовий індекс"
                                               ng-model="address.index"
                                               required  ng-minlength="5" ng-maxlength="7"/>

                                        <p ng-show="animalForm.userIndex.$error.required && !animalForm.userIndex.$pristine"
                                           class="help-block error">Поле не заповнено.</p>
                                        <p ng-show="animalForm.userIndex.$error.minlength && !animalForm.userIndex.$pristine"
                                           class="help-block error">Поле занадто коротке.</p>
                                        <p ng-show="animalForm.userIndex.$error.maxlength && !animalForm.userIndex.$pristine"
                                           class="help-block error">Поле занадто довге.</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Фотографія тварини</h3>
                                </div>
                                <div class="panel-body">

                                    <!-- Image -->
                                    <div ng-controller="AnimalImageController">

                                        <!-- Image button for load -->
                                        <a class="btn btn-info col-md-12" href role="button" ng-hide="uploader.isUploading"
                                           onclick="document.getElementById('upload').click();">Завантажити фото</a>

                                        <!-- Image progress bar -->
                                        <progressbar class="progress-striped active " value="uploader.queue[0].progress"
                                                     ng-show="uploader.isUploading"></progressbar>
                                        <input type="file" id="upload" name="photo"
                                               nv-file-select uploader="uploader"
                                               style="visibility: hidden;"
                                               required/>


                                        <!-- Show alert -->
                                        <div class="alert alert-success" ng-show="imageFlag == 1">Зображення вибрано.</div>
                                        <div class="alert alert-danger" ng-show="imageFlag == 0">Помилка, вибраний файл не є зображенням.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Додаткова інформація</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" rows="2"
                                              id="description"
                                              style="overflow: overlay; resize:none;"
                                              ng-model="animal.description"
                                              placeholder="Додаткова інформація"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" id="submit-form" class="btn btn-primary" ng-disabled="animalForm.$invalid">Зареєструвати</button><!--ng-click="insertHomelessAnimal(animal)"-->

                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //Image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('image', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#upload").change(function(){
        readURL(this);
    });
</script>
