<section id="loginpage">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="col-sm-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg" width="70" /></p>
					</div>
					<div class="col-sm-11 col-lg-11">
						<h2>{{ 'REG_NEW_USER' | translate }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

<div class="container">
	
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 socialButtons">
		<h3>{{ 'REG_NEW_USER_WITH_SOCIALS' | translate }}</h3>
		<br>
		<form class="form-inline">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a class="btn btn-block btn-social btn-facebook btn-lg">
					    	<i class="fa fa-facebook"></i> Facebook
						</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a ng-click = "RegisterGoogle()" class="btn btn-block btn-social btn-google btn-lg" id="googleButton">
					    	<i class="fa fa-google"></i> Google
						</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a class="btn btn-block btn-social btn-twitter btn-lg">
						    <i class="fa fa-twitter"></i>Twitter
						</a>
				</div>
			</div>			
		</form>		
		</div>

		<hr>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 usualReg">
		<form class="form-horizontal" name="regForm" ng-submit="submitRegForm()">

		<h3>{{ 'REG_NEW_USER_SIMPLE' | translate }}</h3>
		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<br>
			<p>{{ 'REG_REQUIRED_FIELDS_MESSAGE' | translate }}.</p>
			<div class="form-group">
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'LOGIN' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" type="text" ng-model="fields.socialLogin"  ng-required="true" >
	    		</div>
	    	</div>
			<div class="form-group">
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'NAME' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" id="userName" ng-model="fields.name" ng-required="true">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >{{ 'SURNAME' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" id="userSurname" ng-model="fields.surname" ng-required="true">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >{{ 'EMAIL' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" id="userEmail" type="email" ng-model="fields.email" ng-required="true">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'PASSWORD' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control"  type="password" id="password" ng-model="fields.password" ng-required="true">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-10 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'REG_REPEAT_PASSWORD' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" required="required" type="password" id="password_confirm" oninput="check(this)">
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label"  >{{ 'PHONE' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	      		<input class="form-control" id="userPhone" type="text" pattern="^[0-9]{3}-[0-9]{7}$"  ng-model="fields.phone">&nbsp; &nbsp;<label>{{ 'REG_PHONE_TEMPLATE' | translate }}: '000-0000000'</label>
	    		</div>
	    	</div>
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label">{{ 'ADDRESS' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	    			<textarea class="form-control" id="userAdress" rows="2" ng-model="fields.address">
	    			</textarea>
	    		</div>
	    	</div>	    		

	    	<hr>
	    	
	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_NAME' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	      		<input class="form-control" id="userCompany" ng-model="fields.organizationName">
	    		</div>
	    	</div>

	    	<div class="form-group">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_INFO' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    			<textarea class="form-control" name="comments" id="userCompanyInfo" rows="2" ng-model="fields.organizationInfo">
	    			</textarea>
	    		</div>
	    	</div>

	  		<div class="form-group">		  		
		  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	  			
				<button class="btn btn-success btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "usualReg" type="submit">{{ 'REG_COMPLETE_REGISTRATION' | translate }}</button>
				</div>	  			 			
			</div>
				<div ng-show="errorRegistrationMessage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  			<span class="sr-only">Error:</span> {{errorRegistrationMessage}}
			</div>

		</div>	
		</form>				
		</div>		
		</div>


	</div>	
</div>
</section>


<script type='text/javascript'>
	function check(input) {
		if (input.value != document.getElementById('password').value) {
		input.setCustomValidity('Password Must be Matching.');
		} else {
		// input is valid -- reset the error message
		input.setCustomValidity('');
		}
	}
</script>
