<section id="loginpage">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg"/></p>
					</div>
					<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
						<h2>{{ 'REG_NEW_USER' | translate }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

<div class="container">
	
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 socialButtons">
		<h3>{{ 'REG_NEW_USER_WITH_SOCIALS' | translate }}</h3>
		<br>
		<form class="form-inline">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a ng-click = "RegisterFacebook()"  class="btn btn-block btn-social btn-facebook btn-lg">
					    	<i class="fa fa-facebook"></i> Facebook
						</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a ng-click = "RegisterGoogle()" class="btn btn-block btn-social btn-google btn-lg" id="googleButton">
					    	<i class="fa fa-google"></i> Google
						</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">	
				<div class = "buttonSing">
						<a ng-click = "RegisterTwitter()" class="btn btn-block btn-social btn-twitter btn-lg">
						    <i class="fa fa-twitter"></i>Twitter
						</a>
				</div>
			</div>			
		</form>		
		</div>

		<hr>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 usualReg">
		<form class="form-horizontal" name="regForm" ng-submit="submitRegForm()" novalidate>

		<h3>{{ 'REG_NEW_USER_SIMPLE' | translate }}</h3>
		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
			<br>
			<p>{{ 'REG_REQUIRED_FIELDS_MESSAGE' | translate }}.</p>
			<div class="form-group" data-ng-class="{'has-error':regForm.login.$error.minlength || regForm.login.$error.maxlength }">
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'LOGIN' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" type="text" name="login" ng-model="fields.socialLogin"  ng-required="true" ng-minlength='6' ng-maxlength='20'> <!-- ng-maxlength='16' -->
	      		<div ng-show="regForm.login.$error.minlength" class="help-inline">{{ 'LOGIN_MIN_LENGTH' | translate }} </div>
	      		<div ng-show="regForm.login.$error.maxlength" class="help-inline">{{ 'LOGIN_MAX_LENGTH' | translate }} </div>
	    		</div>
	    	</div>
			<div class="form-group" data-ng-class="{'has-error':regForm.userName.$error.minlength || regForm.userName.$error.maxlength }">
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'NAME' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" name="userName" ng-model="fields.name" ng-required="true" ng-minlength='2' ng-maxlength='40'> <!-- ng-maxlength='35' -->
	      		<div ng-show="regForm.userName.$error.minlength" class="help-inline">{{ 'NAME_MIN_LENGTH' | translate }}</div>
	      		<div ng-show="regForm.userName.$error.maxlength" class="help-inline">{{ 'NAME_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.userSurname.$error.minlength || regForm.userSurname.$error.maxlength }">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'SURNAME' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" name="userSurname" ng-model="fields.surname" ng-required="true" ng-minlength='2' ng-maxlength='50'> <!-- ng-maxlength='45' -->
	      		<div ng-show="regForm.userSurname.$error.minlength" class="help-inline">{{ 'SURNAME_MIN_LENGTH' | translate }}</div>
	      		<div ng-show="regForm.userSurname.$error.maxlength" class="help-inline">{{ 'SURNAME_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.userEmail.$invalid && !regForm.userEmail.$pristine}">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'EMAIL' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" name="userEmail" type="email" ng-model="fields.email" ng-required="true"
	      		 pattern="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder="{{ 'CONTACTS_INPUT_EMAIL' | translate }}"> <!-- pattern="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" -->
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.password.$error.minlength || regForm.password.$error.maxlength}">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'PASSWORD' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control"  type="password" name='password' ng-minlength='5' ng-maxlength='20' ng-model="password" required> <!-- ng-maxlength='16' -->
	      		<div ng-show="regForm.password.$error.minlength" class="help-inline">{{ 'PASSWORD_MIN_LENGTH' | translate }}</div>
	      		<div ng-show="regForm.password.$error.maxlength" class="help-inline">{{ 'PASSWORD_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.confirm_password.$error.passwordVerify}">		    			  		
	    		<label class="col-xs-10 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'REG_REPEAT_PASSWORD' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" type="password" name="confirm_password" ng-model="password_confirm" required data-password-verify="password">
	    		<div ng-show="regForm.confirm_password.$error.passwordVerify">{{ 'PASSWORD_NOT_EQUAL' | translate }}</div>	    		
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.userPhone.$invalid && !regForm.userPhone.$pristine}">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label"  >{{ 'PHONE' | translate }} *:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	      		<input class="form-control" name="userPhone" type="text" ng-model="fields.phone" pattern="^[0-9]{3}-[0-9]{7}$"  
	      		placeholder="000-0000000">&nbsp; &nbsp; <!-- pattern="^[0-9]{3}-[0-9]{7}$"-->  
	      		<label>{{ 'REG_PHONE_TEMPLATE' | translate }}: '000-0000000'</label>
	    		</div>
	    	</div>
	    	<div class="form-group" data-ng-class="{'has-error':regForm.userAdress.$error.maxlength}">		    			  		
	    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label">{{ 'ADDRESS' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
	    			<textarea class="form-control" name="userAdress" rows="2" ng-model="fields.address" ng-maxlength='150'> <!-- ng-maxlength='120' -->
	    			</textarea>
	    			<div ng-show="regForm.userAdress.$error.maxlength" class="help-inline">{{ 'ADDRESS_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>	    		

	    	<hr>
	    	
	    	<div class="form-group" data-ng-class="{'has-error':regForm.userCompany.$error.maxlength}">		    			  		
	    		<label class="col-xs-12 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_NAME' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
	      		<input class="form-control" name="userCompany" ng-model="fields.organizationName" ng-maxlength='75'>  <!-- ng-maxlength='70' -->
	      		<div ng-show="regForm.userCompany.$error.maxlength" class="help-inline">{{ 'COMPANY_NAME_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>

	    	<div class="form-group" data-ng-class="{'has-error':regForm.userCompanyInfo.$error.maxlength}">		    			  		
	    		<label class="col-xs-12 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_INFO' | translate }}:</label>
	    		<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
	    			<textarea class="form-control" name="userCompanyInfo" rows="2" ng-model="fields.organizationInfo" ng-maxlength='110'> <!-- ng-maxlength='100' -->
	    			</textarea>
	    			<div ng-show="regForm.userCompanyInfo.$error.maxlength" class="help-inline">{{ 'COMPANY_INFO_MAX_LENGTH' | translate }}</div>
	    		</div>
	    	</div>

	  		<div class="form-group">
	  			<div class="col-xs-0 col-sm-0 col-md-1 col-lg-2"></div>		  		
		  		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">	  			
				<button class="btn btn-success btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "usualReg"
				 type="submit" ng-disabled="regForm.$invalid">{{ 'REG_COMPLETE_REGISTRATION' | translate }}</button>
				</div>	  			 			
			</div>
				<div ng-show="errorRegistrationMessage1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  			<span class="sr-only">Error:</span> {{ 'ERROR_REG_MESSAGE1' | translate }}
			</div>
						
			<!-- Error message from server side -->
		    <div ng-show="errorRegistrationMessage2">
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert" ng-repeat="alert in errors">
		            <span class="glyphicon glyphicon-exclamation-sign"></span> {{alert.msg}}
		        </div>
		    </div>
			
			<div>
				<div ng-show="errorRegistrationMessage3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  			<span class="sr-only">Error:</span> {{ 'ERROR_REG_MESSAGE3' | translate }}
			</div>
			
			<div>
				<div ng-show="errorRegistrationMessage4" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  			<span class="sr-only">Error:</span> {{ 'ERROR_REG_MESSAGE4' | translate }}
			</div>

		</div>	
		</form>				
		</div>		
		</div>


	</div>	
</div>
</section>

