<section id="contacts">
<div class="jumbotron">     
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
						<p><image src="../resources/img/main_dog.jpg"/></p>
					</div>
					<div class="col-xs-9 col-sm-10 col-md-1 col-lg-1">
						<h2>{{ 'USER_PROFILE' | translate }}</h2>
					</div>
				</div>
			</div>
		</div>
</div>
</section>

<div class="container" id="userProfile">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="profileblock">
	<div class="row">

		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="userPhoto">
			<div class="col-xs-10 col-lg-10 text-center">
                    <h3 class="blocktext">{{ 'USER_IMAGE_FROM_SOCIALS' | translate }}</h3>
                    <div class="smallIMG">
                        <p><image ng-hide="userInfo.socialPhoto" class="displayed" src="resources/img/no-image.jpg" height="280" /></p>
                        <p><image ng-show="userInfo.socialPhoto" class="displayed" src="{{userInfo.socialPhoto}}" height="280" /></p>
                    </div>

                    <p class="blocktext2">{{ 'USER_SOCIAL_ASSIGN' | translate }}</p>
                    <div class="text-center">
                    	<a class="btn btn-social-icon btn-facebook btn-md"><i class="fa fa-facebook"></i></a>
                    	<a ng-disabled="userInfo.socialPhoto" ng-click = "JoinGoogle()" class="btn btn-social-icon btn-google btn-md"><i class="fa fa-google"></i></a>
                    	<a class="btn btn-social-icon btn-twitter btn-md"><i class="fa fa-twitter"></i></a>        	                	                   	
					</div>
					<div ng-show="errorJoinMessage">
						<br>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  						<span class="sr-only">Error:</span> {{errorJoinMessage}}
						</div>
					</div>
            </div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h3 class = "text-center">Personal Data</h3>
        </div>
        
		<!-- Spinner -->
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" ng-show="contentLoading" id="loading-block" style="height:400px;"></div>
        
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="userData" ng-show="!contentLoading">
			<br><br>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'LOGIN' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.socialLogin}}</label>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'USER_NAME' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.name}}</label>
				</div>				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'USER_SURNAME' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.surname}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'REGISTRATION_DATE' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.registrationDate}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'USER_EMAIL' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.email}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'USER_PHONE' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.phone}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'USER_ADDRESS' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.address}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'REG_ORGANIZATION_NAME' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.organizationName}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >{{ 'REG_ORGANIZATION_INFO' | translate }}:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.organizationInfo}}</label>
				</div>
			</div>
			<div class="form-group">				
				<button ng-click="showPopup()" class="btn btn-success btn-md col-xs-12 col-sm-12 col-md-4 col-lg-5" id = "editProfile">{{ 'USER_EDIT_PROFILE' | translate }}</button>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>{{ 'USER_HINT' | translate }}</p>
			</div>
		</div>

	</div>

	<div ng-hide = "IsHidden" id="editUser">

			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 usualReg">
			<form class="form-horizontal" name="form">
			<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div><h3>{{ 'USER_INFORMATION_EDIT' | translate }}</h3>
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<br>				
				<div class="form-group">
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'LOGIN' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userLogin" ng-model="fields.socialLogin"  placeholder="{{userInfo.socialLogin}}">
		    		</div>
		    	</div>
				<div class="form-group">
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'NAME' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userName" ng-model="fields.name" placeholder="{{userInfo.name}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >{{ 'SURNAME' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userSurname" ng-model="fields.surname" placeholder="{{userInfo.surname}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >{{ 'EMAIL' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userEmail" type="email" ng-model="fields.email" placeholder="{{userInfo.email}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'USER_NEW_PASSWORD' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" type="password" name='password' ng-model="passwordNew">
		    		</div>
		    	</div>
		    	<div class="form-group" data-ng-class="{'has-error':form.confirm_password.$error.passwordVerify}">		    			  		
		    		<label class="col-xs-10 col-sm-5 col-md-3 col-lg-3 control-label" >{{ 'REG_REPEAT_PASSWORD' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" type="password" name="confirm_password" ng-model="password_new_confirm" required data-password-verify="passwordNew">
		      		<div ng-show="form.confirm_password.$error.passwordVerify">Fields are not equal!</div>
	    			<div ng-show="errorConfirmMessage">You can't submit form with not equal fields!</div>
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label"  >{{ 'PHONE' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userPhone" type="text" pattern="^[0-9]{3}-[0-9]{7}$" ng-model="fields.phone" placeholder="{{userInfo.phone}}">&nbsp; &nbsp;<label>{{ 'REG_PHONE_TEMPLATE' | translate }}: '000-0000000'</label>
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label">{{ 'ADDRESS' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		    			<textarea class="form-control" id="userAdress" rows="2" ng-model="fields.address" placeholder="{{userInfo.address}}"></textarea>
		    		</div>
		    	</div>
		    	<hr>		    	
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_NAME' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		      		<input class="form-control" id="userCompany" ng-model="fields.organizationName" placeholder="{{userInfo.organizationName}}">
		    		</div>
		    	</div>

		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >{{ 'REG_ORGANIZATION_INFO' | translate }}:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		    			<textarea class="form-control" name="comments" id="userCompanyInfo" rows="2" ng-model="fields.organizationInfo" placeholder="{{userInfo.organizationInfo}}"></textarea>
		    		</div>
		    	</div>

		  		<div class="form-group">		  		
			  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	  			
			  		<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
					<button ng-click="submitUpdatedForm()" class="btn btn-success btn-md col-xs-12 col-sm-12 col-md-5 col-lg-5" id = "usualReg" >{{ 'SAVE' | translate }}</button>
					<div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
					<button ng-click="closePopup()" class="btn btn-danger btn-md col-xs-12 col-sm-12 col-md-5 col-lg-5" >{{ 'CANCEL' | translate }}</button>
					</div>	  			 			
				</div>

		</div>	
		</form>				
		</div>
		<br>
		<hr>
	
		</div>		
	
	<hr>

		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-3"></div>		
		<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<br>
			<button ng-click="AddOwnAnimal()" class="btn btn-success btn-md col-xs-10 col-sm-10 col-md-4 col-lg-4" id = "addOwnAnimal">{{ 'USER_ADD_OWN_ANIMAL' | translate }}</button>
    		<br>
		</div>
			<div ng-show="errorAddAnimalMessage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger" role="alert">
	  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  			<span class="sr-only">Error:</span> {{errorAddAnimalMessage}}
			</div>
		
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1"></div>
		
		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-3"></div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="listUserAnimals">
			
			<div class = "text-center">
				<h3> {{ 'USER_LIST_OWN_ANIMALS' | translate }}</h3>
			</div>
			
			<!-- Spinner -->
       		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-show="contentLoading" id="loading-block2" style="height:200px;"></div>			

			<table class="table table-hover" ng-show="!contentLoading">
            <thead>
            <tr>
                <td><strong>{{ 'TYPE' | translate }}</strong></td>
                <td><strong>{{ 'BREED' | translate }}</strong></td>
                <td><strong>{{ 'SEX' | translate }}</strong></td>
                <td><strong>{{ 'COLOR' | translate }}</strong></td>
                <td><strong>{{ 'TRANSPONDER' | translate }}</strong></td>
                <td><strong>{{ 'BIRTH_DATE' | translate }}</strong></td>
                <td />
            </tr>    
            </thead>
            <tbody>
            <tr ng-repeat="animal in userAnimalInfo">
                <td>{{ animal.type.type }}</td>
                <td>{{ animal.sort }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.color }}</td>
                <td>{{ animal.transpNumber }}</td>
                <td>{{ animal.dateOfBirth }}</td>
                <td><a href="#/ua/user/home/animals/{{ animal.id }}"><img src="resources/img/view_fullscreen.png"></a></td>
            </tr>    
            </tbody>
        </table>

		</div>

	</div>
</div>

<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

