<div class="container">
	<div class="row">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
	<br><br>
	<form class="form-horizontal" ng-submit="setId()">
		<div class="row">
				<div class="col-lg-7">
					<label >User ID:</label>
				</div>
				<div class="col-lg-5">
					<input class="form-control" ng-model="set.id" placeholder="25">
				</div>	
				<div class="col-lg-6">
					<label >{{set.id}}</label>
				</div>
				<button type="submit" class="btn btn-default btn-md col-lg-7" >Show User Data</button>			
		</div>	
	</form>	
	</div>

	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8" id="profileblock">


		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="userPhoto">
			<div class="col-xs-10 col-lg-10 text-center" style="height:400px;">
                    <h4 class="blocktext">Photo from social net</h4>
                    <div class="smallIMG">
                        <p><image class="displayed" src="resources/img/no-image.jpg" height="200"></p>
                    </div>

                    <p class="blocktext2">Join account with social net</p>
                    <div class="text-center">
                    	<a class="btn btn-social-icon btn-facebook btn-md"><i class="fa fa-facebook"></i></a>
                    	<a class="btn btn-social-icon btn-google btn-md"><i class="fa fa-google"></i></a>
                    	<a class="btn btn-social-icon btn-twitter btn-md"><i class="fa fa-twitter"></i></a>                    	
					</div>
            </div>
		</div>



		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="userData" >
			<br>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<label >Логін:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.socialLogin}}</label>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Ім'я користувача:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.name}}</label>
				</div>				
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Фамілія користувача:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.surname}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Дата реєстрації:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.registrationDate}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Email користувача:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.email}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Телефон користувача:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.phone}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Адреса користувача:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.address}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Назва організації:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.organizationName}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<label >Додаткова інформація:</label>
				</div>
				<div class="col-lg-6">
					<label >{{userInfo.organizationInfo}}</label>
				</div>
			</div>
			<div class="form-group">				
				<button ng-click="showPopup()" class="btn btn-default btn-md col-xs-12 col-sm-12 col-md-4 col-lg-4" id = "editProfile">Edit Profile</button>				
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>Для можливості додавання власної тварини слід вказати повну контактну інформацію користувача</p>
			</div>
		</div>


		<hr>
		
		<div ng-hide = "IsHidden" id="editUser">


			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 usualReg">
			<form class="form-horizontal" name="updateForm" ng-submit="submitUpdateForm()">
			<h2>Редагування даних користувача</h2>
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<br>				
				<div class="form-group">
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Логін:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userLogin" ng-model="fields.socialLogin"  placeholder="{{userInfo.socialLogin}}">
		    		</div>
		    	</div>
				<div class="form-group">
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Ім'я:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userName" ng-model="fields.name" placeholder="{{userInfo.name}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >Прізвище:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userSurname" ng-model="fields.surname" placeholder="{{userInfo.surname}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5col-md-3 col-lg-3 control-label" >Email:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userEmail" type="email" ng-model="fields.email" placeholder="{{userInfo.email}}">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label" >Новий Пароль:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" type="password" id="password" ng-model="fields.passwordNew">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-10 col-sm-5 col-md-3 col-lg-3 control-label" >Повторіть пароль:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" type="password" id="password_confirm" oninput="check(this)">
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label"  >Телефон:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		      		<input class="form-control" id="userPhone" type="text" pattern="^[0-9]{3}-[0-9]{7}$" ng-model="fields.phone" placeholder="{{userInfo.phone}}">&nbsp; &nbsp;<label>Phone patern: '000-0000000'</label>
		    		</div>
		    	</div>
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-3 col-lg-3 control-label">Адреса:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		    			<textarea class="form-control" id="userAdress" rows="2" ng-model="fields.address" placeholder="{{userInfo.address}}"></textarea>
		    		</div>
		    	</div>
		    	<hr>		    	
		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >Назва організації:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		      		<input class="form-control" id="userCompany" ng-model="fields.organizationName" placeholder="{{userInfo.organizationName}}">
		    		</div>
		    	</div>

		    	<div class="form-group">		    			  		
		    		<label class="col-xs-5 col-sm-5 col-md-4 col-lg-4 control-label" >Додаткова інформація про організацію:</label>
		    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		    			<textarea class="form-control" name="comments" id="userCompanyInfo" rows="2" ng-model="fields.organizationInfo" placeholder="{{userInfo.organizationInfo}}"></textarea>
		    		</div>
		    	</div>

		  		<div class="form-group">		  		
			  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	  			
					<button class="btn btn-danger btn-md col-xs-12 col-sm-12 col-md-6 col-lg-6" id = "usualReg" type="submit" ng-click="closePopup()">Edit Profile</button>
					<button ng-click="closePopup()" class="btn btn-default btn-sm col-xs-12 col-sm-12 col-md-6 col-lg-6" >Cancel</button>
					</div>	  			 			
				</div>

		</div>	
		</form>				
		</div>



		</div>
		<hr>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="listUserAnimals">
			<div class = "text-center">
				<h4> Список власних тварин</h4>
			</div>
			
			
			<table class="table table-hover">
            <thead>
            <tr>
                <td><strong>Тип</strong></td>
                <td><strong>Порода</strong></td>
                <td><strong>Стать</strong></td>
                <td><strong>Окрас</strong></td>
                <td><strong>Номер мікрочіпу</strong></td>
                <td><strong>Дата народження</strong></td>

                <td />
            </tr>    
            </thead>
            <tbody>
            <tr ng-repeat="animal in userAnimalInfo">
                <td>{{ animal.type.type }}</td>
                <td>{{ animal.sort }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.color }}</td>
                <td>{{ animal.transpNumber }}</td>
                <td>{{ animal.dateOfBirth }}</td>
                <td><a href="#/ua/user/home/animals/{{ animal.id }}"><img src="resources/img/view_fullscreen.png"></a></td>
            </tr>    
            </tbody>
        </table>

		</div>
		

	</div>
	</div>
</div>

 
 
<script type='text/javascript'>
	function check(input) {
		if (input.value != document.getElementById('password').value) {
		input.setCustomValidity('Password Must be Matching.');
		} else {
		// input is valid -- reset the error message
		input.setCustomValidity('');
		}
	}
</script>

<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

